Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --apply --no-errors-on-unmatched, sort-package-json, sort-json

e2e-fix
  .gitea/workflows/main.yml
Due: none

basic-routes-e2e
  .gitea/workflows/main.yml
  test/basic-routes.test.js
  test/discoursio-webapp.check.js
Due: biome check --apply --no-errors-on-unmatched

ci-fix
  .gitea/workflows/main.yml
  .github/workflows/node-ci.yml
Due: none

fmt-ignore
  biome.json
Due: biome check --apply --no-errors-on-unmatched

fmt-lint-ignore-fix
  biome.json
  src/pages/about/help.astro
Due: biome check --apply --no-errors-on-unmatched

darken image cropper background
  src/styles/app.scss
Due: none

nomore-hooks
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc
  .stylelintrc.json
  package.json
Due: biome check --apply --no-errors-on-unmatched, sort-package-json

lint-staged
  .husky/pre-commit
  .lintstagedrc
  package.json
Due: biome check --apply --no-errors-on-unmatched, sort-package-json

sorted imports
  biome.json
Due: biome check --apply --no-errors-on-unmatched

e2e-fix
  .gitea/workflows/main.yml
  test/basic-routes.test.сjs
Due: none

biome-fix
  .lintstagedrc
  .stylelintrc.json
  biome.json
Due: biome check --apply --no-errors-on-unmatched

nodever-fix
  .gitea/workflows/main.yml
  biome.json
Due: biome check --apply --no-errors-on-unmatched

nodever-fix2
  .github/workflows/node-ci.yml
Due: none

lint-check
  .lintstagedrc
Due: none

e2e
  .gitea/workflows/main.yml
  .github/workflows/node-ci.yml
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  test/basic-routes.test.сjs
  tests/basic-routes.spec.ts
Due: biome check --apply --no-errors-on-unmatched, sort-package-json

npm-start-fix
  .gitea/workflows/main.yml
Due: none

e2e
  .gitea/workflows/main.yml
  .github/workflows/node-ci.yml
  LICENSE
  package.json
  tests/basic-routes.spec.ts
Due: biome check --apply --no-errors-on-unmatched, sort-package-json

e2e-test-github
  .gitea/workflows/main.yml
  .github/workflows/node-ci.yml
  tests/basic-routes.spec.ts
Due: biome check --apply --no-errors-on-unmatched

all-fixed
  .lintstagedrc
  package.json
  src/components/Nav/AuthModal/AuthModal.module.scss
  src/components/Nav/SearchModal/SearchModal.module.scss
  src/components/_shared/ImageCropper/ImageCropper.module.scss
Due: biome check --apply --no-errors-on-unmatched, sort-package-json

all-fixed-fmt
  .lintstagedrc
Due: none

lintstyles-fix
  .lintstagedrc
Due: none

lintfix
  .lintstagedrc
Due: none

dontpush
  .gitea/workflows/main.yml
Due: none

fixtype
  src/components/Inbox/CreateModalContent.tsx
Due: biome check --apply --no-errors-on-unmatched

q
  package-lock.json
  package.json
Due: biome check --apply --no-errors-on-unmatched, sort-package-json

merged
  .gitignore
Due: none

stability-editing
  README.md
  gen/context/new/context.ejs.t
  gen/generator/help/index.ejs.t
  package-lock.json
  package.json
  src/components/Article/FullArticle.tsx
  src/context/editor.tsx
  tests/basic-routes.test.js
Due: biome check --apply --no-errors-on-unmatched, sort-package-json

Fix subscribe logic
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Author/AuthorCard/AuthorCard.tsx
Due: biome check --apply --no-errors-on-unmatched

Fix subscribe logic (refactoring)
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Feed/Beside.tsx
  src/components/Views/AllAuthors.tsx
  src/context/following.tsx
Due: biome check --apply --no-errors-on-unmatched

rolling-biome
  package.json
Due: biome check --apply --no-errors-on-unmatched, sort-package-json

async-fixes
  biome.json
  src/components/Article/FullArticle.tsx
  src/components/Article/ShoutRatingControl.tsx
  src/components/AuthGuard/AuthGuard.tsx
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Discours/Footer.tsx
  src/components/Editor/AudioUploader/AudioUploader.tsx
  src/components/Editor/EditorFloatingMenu/EditorFloatingMenu.tsx
  src/components/Editor/SimplifiedEditor.tsx
  src/components/Editor/TextBubbleMenu/TextBubbleMenu.tsx
  src/components/Editor/UploadModalContent/UploadModalContent.tsx
  src/components/Editor/VideoUploader/VideoUploader.tsx
  src/components/Nav/AuthModal/LoginForm.tsx
  src/components/Nav/AuthModal/index.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/Edit.tsx
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Inbox/Inbox.tsx
  src/components/Views/Search.tsx
  src/components/Views/Topic.tsx
  src/components/_shared/GrowingTextarea/GrowingTextarea.tsx
  src/components/_shared/SolidSwiper/EditorSwiper.tsx
  src/components/_shared/SolidSwiper/swiper.d.ts
  src/context/connect.tsx
  src/context/inbox.tsx
  src/context/notifications.tsx
  src/context/profile.tsx
  src/context/session.tsx
  src/pages/drafts.page.route.ts
  src/pages/search.page.server.ts
  src/utils/getServerRoute.ts
Due: biome check --apply --no-errors-on-unmatched

all-rules-with-exclusions
  biome.json
  src/components/Editor/AudioUploader/AudioUploader.tsx
  src/components/Editor/EditorFloatingMenu/EditorFloatingMenu.tsx
  src/components/Editor/Panel/Panel.tsx
  src/components/Nav/Header/Header.tsx
  src/components/Nav/Snackbar.tsx
  src/components/_shared/DropdownSelect/DropdownSelect.tsx
  src/components/_shared/InviteMembers/InviteMembers.tsx
  src/components/_shared/SolidSwiper/swiper.d.ts
  src/context/session.tsx
Due: biome check --apply --no-errors-on-unmatched

postfixfix
  src/utils/getServerRoute.ts
Due: biome check --apply --no-errors-on-unmatched

buffer-import
  src/components/Editor/AudioUploader/AudioUploader.tsx
Due: biome check --apply --no-errors-on-unmatched

ci-upgrade
  .github/workflows/node-ci.yml
Due: none

test-lint
  .github/workflows/node-ci.yml
  .lintstagedrc
Due: none

maintopic-limit-hotfix
  .lintstagedrc
  package-lock.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Draft/Draft.tsx
  src/components/Editor/Panel/Panel.tsx
  src/components/Nav/HeaderAuth.tsx
  src/components/Views/PublishSettings/PublishSettings.tsx
Due: biome check --apply --no-errors-on-unmatched, sort-json

Email templates
  templates/authorizer_password_reset.html
  templates/email_first_publication.html
  templates/new_comment_notification.html
Due: none

Path conditions:
  biome check --apply --no-errors-on-unmatched: any of: *.{js,ts,cjs,mjs,d.mts,jsx,tsx,json,jsonc}
  sort-package-json: any of: package.json
  sort-json: any of: public/locales/**/*.json
