Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, stylelint, eslint --fix

some-inbox-auth-fixes
  src/graphql/mutation/auth-register.ts
  src/graphql/publicGraphQLClient.ts
  src/graphql/query/my-chats.ts
  src/graphql/types.gen.ts
  src/pages/[...slug].astro
  src/pages/inbox.astro
  src/pages/inbox.astro.bak
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

translate removed
  package.json
  src/utils/translate.ts
Due: prettier --write, sort-package-json, eslint --fix

fix-edito-types
  package.json
  src/utils/p2p.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

fix-catch
  src/components/Article/Comment.tsx
Due: prettier --write, eslint --fix

fix-vers
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Changed css classes to css-module in the Private component
  src/components/Nav/Private.module.scss
  src/components/Nav/Private.tsx
Due: prettier --write, stylelint, eslint --fix

roomConnect with username
  src/components/Editor/store/ctrl.ts
  src/stores/zine/reactions.ts
  src/utils/p2p.ts
Due: prettier --write, eslint --fix

Fixed linter error
  src/components/Nav/Header.tsx
Due: prettier --write, eslint --fix

downgraded
  astro.config.ts
  mdx.config.ts
  package.json
  tsconfig.json
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

less-strict
  tsconfig.json
Due: prettier --write

tsconfig-noastro
  tsconfig.json
Due: prettier --write

refactori
  mdx.config.ts
  src/components/Feed/Sidebar.tsx
  src/components/Nav/Private.tsx
  src/components/Topic/Card.tsx
  src/components/Topic/Full.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/graphql/mutation/my-session.ts
  src/graphql/types.gen.ts
Due: prettier --write, eslint --fix

smal refactoring
  src/components/Author/Card.tsx
Due: prettier --write, eslint --fix

author page fixes
  src/components/Author/Card.tsx
  src/components/Author/Full.tsx
  src/graphql/query/articles-for-authors.ts
  src/layouts/zine.astro
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

some-fixes
  src/graphql/types.gen.ts
  src/stores/create.ts
  src/stores/inbox.ts
  src/stores/zine/reactions.ts
  src/utils/apiClient.ts
  src/utils/logger.ts
  src/utils/ru2en.ts
Due: prettier --write, eslint --fix

slug-fix
  src/pages/[...slug].astro
Due: none

/create page
  src/components/Pages/CreatePage.tsx
  src/components/Root.tsx
  src/components/Views/Create.tsx
  src/components/Views/Home.tsx
  src/pages/[...slug].astro
  src/stores/router.ts
Due: prettier --write, eslint --fix

robots.txt
  public/robots.txt
Due: none

WIP
  astro.config.ts
  src/components/Views/AllAuthors.tsx
  src/layouts/zine.astro
  src/pages/authors.astro
  src/pages/topics.astro
  src/stores/zine/authors.ts
Due: prettier --write, eslint --fix

WIP
  src/graphql/types.gen.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

minor fixes
  src/components/Editor/prosemirror/index.tsx
Due: prettier --write, eslint --fix

signaling-test
  src/components/Editor/prosemirror/index.tsx
  src/utils/p2p.ts
Due: prettier --write, eslint --fix

client data fetching
  src/components/Nav/Header.tsx
  src/components/Pages/AllAuthorsPage.tsx
  src/components/Pages/AllTopicsPage.tsx
  src/components/Pages/ArticlePage.tsx
  src/components/Pages/AuthorPage.tsx
  src/components/Pages/FeedPage.tsx
  src/components/Pages/HomePage.tsx
  src/components/Pages/SearchPage.tsx
  src/components/Pages/TopicPage.tsx
  src/components/Views/Author.tsx
  src/components/Views/Home.tsx
  src/components/Views/Topic.tsx
  src/components/types.ts
  src/pages/author/[slug]/index.astro
  src/pages/authors.astro
  src/pages/feed/index.astro
  src/pages/index.astro
  src/pages/topic/[slug].astro
  src/pages/topics.astro
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

topics and authors grouped by letter
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/stores/zine/authors.ts
Due: prettier --write, eslint --fix

confirm-component
  public/confirm/index.html
  src/components/Nav/Confirmed.scss
  src/components/Nav/Confirmed.tsx
  src/graphql/types.gen.ts
  src/pages/api/sendlink.ts
  src/pages/confirm/[token].astro
  src/pages/confirm/index.astro
Due: prettier --write, stylelint, eslint --fix

intl
  src/locales/ru.json
Due: prettier --write

grouping by letter fix
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
Due: prettier --write, eslint --fix

topic page fix
  src/components/Pages/TopicPage.tsx
Due: prettier --write, eslint --fix

trig deploy
  src/pages/confirm/[token].astro
  src/pages/confirm/index.astro
Due: none

Fixed sticky footer
  src/styles/app.scss
Due: prettier --write, stylelint

Fixed article header style
  src/components/Topic/Full.scss
Due: prettier --write, stylelint

Add create article control in header
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
  src/locales/ru.json
Due: prettier --write, stylelint, eslint --fix

Fixed align article controls in the header
  src/components/Nav/Header.module.scss
Due: prettier --write, stylelint

Fixed controls style in the header
  src/components/Nav/Header.module.scss
Due: prettier --write, stylelint

Fixed content size on the error page
  src/components/Views/FourOuFour.tsx
Due: prettier --write, eslint --fix

chunks-lazy
  .lintstagedrc
  astro.config.ts
  package.json
  src/components/Root.tsx
  src/utils/p2p.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

fixed
  src/components/Root.tsx
Due: prettier --write, eslint --fix

nolazy-chunks
  .gitignore
  astro.config.ts
  src/components/Root.tsx
Due: prettier --write, eslint --fix

no-astro-mdx
  astro.config.ts
  mdx.config.ts
  package.json
  src/components/Article/Comment.tsx
  src/components/Article/FullArticle.tsx
  src/components/Article/MD.tsx
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

fixchunks
  astro.config.ts
  src/components/Editor/Editor.scss
  src/components/Editor/Error.tsx
  src/components/Editor/index.tsx
  src/components/Editor/prosemirror/context.ts
  src/components/Editor/prosemirror/extension/collab.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/Editor/store/index.ts
  src/components/Root.tsx
  src/components/Views/Create.tsx
Due: prettier --write, stylelint, eslint --fix

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,scss,css,html}
  sort-package-json: any of: package.json
  stylelint: any of: *.{scss,css}
  eslint --fix: any of: *.{ts,tsx,js}
