Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json"
}

lint
  astro.config.ts
  src/components/Inbox/Message.module.scss
  src/components/Pages/LayoutShoutsPage.tsx
  src/pages/expo/[...layout].astro
  src/pages/inbox.astro
  src/stores/zine/layouts.ts
  src/stores/zine/reactions.ts
  src/styles/Inbox.scss
Due: prettier --write

config
  src/utils/config.ts
Due: prettier --write

some fixes
  pnpm-lock.yaml
  src/components/Pages/AuthorPage.tsx
  src/components/Views/Search.tsx
  src/stores/router.ts
  yarn.lock
Due: prettier --write

abc sort fix
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
Due: prettier --write

linter-pass-sort-fix
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
Due: prettier --write

need some cosmetics
  src/components/Topic/Card.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/styles/AllTopics.module.scss
Due: prettier --write

search-wip, bio fix
  src/components/Author/Card.tsx
  src/components/Views/Search.tsx
  src/locales/ru.json
Due: prettier --write

catch up with backend refactoring
  README.md
  astro.config.ts
  codegen.yml
  src/components/Inbox/Message.module.scss
  src/components/Pages/ArticlePage.tsx
  src/components/Pages/AuthorPage.tsx
  src/components/Pages/HomePage.tsx
  src/components/Pages/LayoutShoutsPage.tsx
  src/components/Pages/SearchPage.tsx
  src/components/Pages/TopicPage.tsx
  src/components/Views/Author.tsx
  src/components/Views/Feed.tsx
  src/components/Views/Home.tsx
  src/components/Views/Search.tsx
  src/components/Views/Topic.tsx
  src/graphql/query/articles-load.ts
  src/graphql/query/author-by-slug.ts
  src/graphql/query/authors-load-by.ts
  src/graphql/query/reactions-load-by.ts
  src/graphql/types.gen.ts
  src/pages/[...slug].astro
  src/pages/author/[slug]/index.astro
  src/pages/expo/[...layout].astro
  src/pages/inbox.astro
  src/pages/index.astro
  src/pages/search.astro
  src/pages/topic/[slug].astro
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/stores/zine/layouts.ts
  src/stores/zine/reactions.ts
  src/styles/Inbox.scss
  src/utils/apiClient.ts
Due: prettier --write

migration bio fix
  src/components/Author/Card.tsx
Due: prettier --write

Added search component
  src/components/Topic/Card.module.scss
  src/components/Topic/Full.module.scss
  src/components/Topic/Full.tsx
  src/components/Views/AllTopics.tsx
  src/components/_shared/SearchField.module.scss
  src/components/_shared/SearchField.tsx
  src/styles/AllTopics.module.scss
  src/styles/Topic.module.scss
  src/styles/app.scss
Due: prettier --write

Added search component to the all authors page
  src/components/Views/AllAuthors.tsx
Due: prettier --write

author-fixes
  src/components/Author/Card.tsx
  src/graphql/query/authors-all.ts
Due: prettier --write

authors-with-counters
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/FourOuFour.tsx
  src/graphql/client.ts
  src/graphql/privateGraphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  src/graphql/types.gen.ts
  src/locales/ru.json
  src/styles/AllTopics.module.scss
  src/utils/config.ts
Due: prettier --write

linter-passing
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/graphql/client.ts
  src/utils/scroll.ts
Due: prettier --write

Update bootstrap package
  package.json
  src/styles/_imports.scss
  yarn.lock
Due: prettier --write, sort-package-json

bootstrap-pkg-fix
  package.json
Due: prettier --write, sort-package-json

bumped
  package.json
  pnpm-lock.yaml
  src/graphql/privateGraphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  yarn.lock
Due: prettier --write, sort-package-json

bump
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

apitest
  src/utils/config.ts
Due: prettier --write

purge
  astro.config.ts
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Fixed alltopics and all authors page style
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/styles/AllTopics.module.scss
Due: prettier --write

nopurgehere
  astro.config.ts
Due: prettier --write

trig-rebuild
  pnpm-lock.yaml
Due: none

fix-topic-queries
  src/graphql/query/topics-all.ts
  src/graphql/query/topics-by-author.ts
  src/graphql/query/topics-by-community.ts
  src/graphql/query/topics-random.ts
Due: prettier --write

no-urql-cache
  package.json
  src/graphql/publicGraphQLClient.ts
Due: prettier --write, sort-package-json

telemetry-back
  package.json
Due: prettier --write, sort-package-json

testing, fixes
  codegen.yml
  package.json
  src/graphql/client.ts
  src/graphql/query/topic-by-slug.ts
  src/graphql/query/topics-all.ts
  src/graphql/query/topics-by-author.ts
  src/graphql/query/topics-by-community.ts
  src/graphql/query/topics-random.ts
  src/graphql/types.gen.ts
  src/utils/config.ts
  yarn.lock
Due: prettier --write, sort-package-json

WIP
  package.json
  src/graphql/client.ts
  src/graphql/privateGraphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  src/utils/config.ts
  yarn.lock
Due: prettier --write, sort-package-json

deprecation fix
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

Style fixes
  src/components/Discours/Banner.module.scss
  src/components/Discours/Banner.tsx
  src/components/Discours/Footer.module.scss
  src/components/Discours/Footer.tsx
  src/components/Discours/Hero.scss
  src/components/Discours/Hero.tsx
  src/components/Discours/Subscribe.module.scss
  src/components/Feed/Beside.tsx
  src/components/Feed/Group.tsx
  src/components/Feed/Row1.tsx
  src/components/Feed/Row2.tsx
  src/components/Feed/Row3.tsx
  src/components/Feed/Row5.tsx
  src/components/Feed/RowShort.tsx
  src/components/Feed/Slider.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/styles/app.scss
Due: prettier --write

i like to move it. move it
  src/components/Article/SharePopup.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/components/Nav/ProfilePopup.tsx
  src/components/Views/AllAuthors.tsx
  src/components/_shared/Icon/Icon.module.scss
  src/components/_shared/Icon/Icon.tsx
  src/components/_shared/Icon/index.ts
  src/components/_shared/Popup/Popup.module.scss
  src/components/_shared/Popup/Popup.tsx
  src/components/_shared/Popup/index.ts
  src/components/_shared/SearchField.tsx
Due: prettier --write

Style fixes
  src/components/Author/Card.module.scss
  src/components/Author/Full.scss
  src/components/Author/Full.tsx
  src/components/Views/Author.tsx
Due: prettier --write

Minor style fix
  src/components/Views/AllAuthors.tsx
Due: prettier --write

refactoring fixes
  src/components/Author/Card.tsx
  src/pages/author/[slug]/index.astro
Due: prettier --write

lint
  astro.config.ts
  src/components/Views/AllAuthors.tsx
  src/components/Views/Article.tsx
  src/components/Views/Feed.tsx
  src/graphql/publicGraphQLClient.ts
  src/stores/zine/reactions.ts
  src/styles/AllTopics.module.scss
Due: prettier --write

[WIP] Refactor message card
  src/components/Inbox/DialogAvatar.module.scss
  src/components/Inbox/DialogAvatar.tsx
  src/components/Inbox/Message.module.scss
  src/components/Inbox/Message.tsx
  src/components/Views/Inbox.tsx
  src/styles/Inbox.scss
  src/utils/config.ts
Due: prettier --write

premerge
  codegen.yml
  src/graphql/client.ts
  src/graphql/query/topics-all.ts
  src/graphql/query/topics-by-author.ts
  src/graphql/query/topics-by-community.ts
  src/graphql/query/topics-random.ts
  src/graphql/types.gen.ts
  src/styles/_imports.scss
Due: prettier --write

fix viewed
  src/graphql/query/topics-all.ts
Due: prettier --write

fix-error-log
  src/graphql/client.ts
Due: prettier --write

default api url testapi -> v2
  src/utils/config.ts
Due: prettier --write
