Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, stylelint, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html,astro}": "prettier --write",
  "package.json": "sort-package-json",
  "*.{scss,css}": "stylelint",
  "*.{ts,tsx,js}": "eslint --fix",
}

fix feed
  src/components/Views/Feed.tsx
  src/components/Views/Home.tsx
  src/stores/router.ts
  src/stores/zine/articles.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

router with createSearchParams store
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/ArticlePage.tsx
  src/components/Views/Author.tsx
  src/components/Views/FeedSettings.tsx
  src/components/Views/Search.tsx
  src/components/Views/Topic.tsx
  src/stores/auth.ts
  src/stores/router.ts
  src/stores/zine/articles.ts
Due: prettier --write, eslint --fix

home-topics-one
  src/components/Views/Feed.tsx
  src/pages/feed/index.astro
  src/pages/index.astro
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

renew-session
  src/components/Nav/AuthModal.tsx
  src/stores/auth.ts
Due: prettier --write, eslint --fix

apifixes-wip
  package.json
  src/components/Views/Author.tsx
  src/components/Views/Home.tsx
  src/components/Views/Topic.tsx
  src/pages/index.astro
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

store layer
  .eslintignore
  .stylelintignore
  src/components/Article/Comment.tsx
  src/components/Article/FullArticle.tsx
  src/components/Author/Card.tsx
  src/components/Editor/Sidebar.tsx
  src/components/Feed/Sidebar.tsx
  src/components/Nav/AuthModal.tsx
  src/components/Topic/Card.tsx
  src/components/Views/ArticlePage.tsx
  src/components/Views/Author.tsx
  src/components/Views/Create.tsx
  src/components/Views/Feed.tsx
  src/components/Views/Home.tsx
  src/components/Views/Search.tsx
  src/components/Views/Topic.tsx
  src/graphql/mutation/my-session.ts
  src/pages/[...slug].astro
  src/pages/feed/index.astro
  src/pages/index.astro
  src/pages/search.astro
  src/stores/auth.ts
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/stores/zine/currentArticle.ts
  src/stores/zine/reactions.ts
  src/stores/zine/seen.ts
  src/stores/zine/top.ts
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
  src/utils/sortby.ts
Due: prettier --write, eslint --fix

review fixes
  src/components/Topic/Card.tsx
  src/components/Views/Author.tsx
  src/components/Views/Feed.tsx
  src/components/Views/Home.tsx
  src/components/Views/Search.tsx
  src/graphql/mutation/my-session.ts
  src/pages/author/[slug]/index.astro
  src/stores/ui.ts
  src/stores/zine/authors.ts
  src/stores/zine/common.ts
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
  src/utils/sortby.ts
Due: prettier --write, eslint --fix

offset-limit
  CHANGELOG.txt
  package.json
  src/components/Nav/AuthModal.tsx
  src/graphql/privateGraphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  src/graphql/query/article-reactions.ts
  src/graphql/query/articles-for-author-reactions.ts
  src/graphql/query/articles-for-authors.ts
  src/graphql/query/articles-for-communities.ts
  src/graphql/query/articles-for-feed.ts
  src/graphql/query/articles-for-topics.ts
  src/graphql/query/articles-recent-all.ts
  src/graphql/query/articles-recent-published.ts
  src/graphql/query/articles-top-month.ts
  src/graphql/query/articles-top-rated.ts
  src/graphql/query/articles-top-viewed.ts
  src/graphql/query/author-reactions.ts
  src/graphql/query/authors-all.ts
  src/graphql/query/reactions-for-shouts.ts
  src/graphql/query/search-results.ts
  src/graphql/types.gen.ts
  src/pages/feed/index.astro
  src/pages/index.astro
  src/pages/search.astro
  src/pages/topic/[slug].astro
  src/utils/apiClient.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

offset-limit-fix-1
  src/graphql/publicGraphQLClient.ts
  src/pages/author/[slug]/index.astro
Due: prettier --write, eslint --fix

offset-limit-fix-2
  src/stores/zine/reactions.ts
Due: prettier --write, eslint --fix

offset-limit-fix-3
  src/components/Views/Feed.tsx
  src/components/Views/Home.tsx
  src/pages/author/[slug]/index.astro
  src/pages/feed/index.astro
  src/pages/index.astro
  src/stores/zine/articles.ts
Due: prettier --write, eslint --fix

offset-limit-fix-4
  src/components/Views/ArticlePage.tsx
Due: prettier --write, eslint --fix

codegened
  src/graphql/types.gen.ts
Due: prettier --write, eslint --fix

fixx
  src/components/Views/publicGraphQLClient.ts
Due: prettier --write, eslint --fix

minimal client routing global states
  src/components/Nav/Header.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/ArticlePage.tsx
  src/components/Views/Home.tsx
  src/graphql/publicGraphQLClient.ts
  src/pages/api/package.json
  src/stores/router.ts
Due: prettier --write, sort-package-json, eslint --fix

routerfix
  src/components/Nav/Header.tsx
  src/graphql/publicGraphQLClient.ts
Due: prettier --write, eslint --fix

noneed
  src/pages/api/package.json
Due: prettier --write, sort-package-json

routerfix2
  src/stores/router.ts
Due: prettier --write, eslint --fix

fix-header
  src/components/Nav/Header.tsx
  src/components/Views/ArticlePage.tsx
  src/stores/router.ts
Due: prettier --write, eslint --fix

private-routestore-fix
  src/components/Nav/Private.tsx
Due: prettier --write, eslint --fix

less code
  src/components/Views/ArticlePage.tsx
Due: prettier --write, eslint --fix

ugly astro subrouter
  src/components/Views/Search.tsx
  src/pages/[...slug].astro
  src/pages/author/[slug]/index.astro
  src/pages/authors.astro
  src/pages/feed/index.astro
  src/pages/index.astro
  src/pages/topics.astro
  src/stores/router.ts
Due: prettier --write, eslint --fix

fixes
  .lintstagedrc
  src/components/Article/FullArticle.tsx
  src/components/Nav/Header.tsx
  src/components/Nav/Topics.scss
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Home.tsx
  src/components/Views/Topic.tsx
  src/components/providers/ServerRouterProvider.tsx
  src/layouts/about.astro
  src/layouts/zine.astro
  src/pages/index.astro
  src/stores/router.ts
  src/stores/zine/articles.ts
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
Due: prettier --write, stylelint, eslint --fix

WIP: sticky main navigation block
  src/components/Nav/Header.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Topics.scss
  src/styles/app.scss
Due: prettier --write, stylelint, eslint --fix

fix
  src/components/Nav/Header.tsx
  src/layouts/zine.astro
Due: prettier --write, eslint --fix

Sticky main header
  src/components/Nav/Header.scss
  src/components/Nav/Header.tsx
  src/styles/app.scss
Due: prettier --write, stylelint, eslint --fix

Error page
  src/components/Views/FourOuFour.tsx
  src/locales/ru.json
  src/styles/FourOuFour.scss
Due: prettier --write, stylelint, eslint --fix

mapped topics store
  src/stores/zine/topics.ts
Due: prettier --write, eslint --fix

auth send link common mutation
  clean-git.sh
  src/components/Views/Search.tsx
  src/components/Views/publicGraphQLClient.ts
  src/graphql/index.ts
  src/graphql/mutation/auth-confirm-email.ts
  src/graphql/mutation/auth-resend.ts
  src/graphql/mutation/auth-send-link.ts
  src/graphql/publicGraphQLClient.ts
  src/graphql/query/article-reactions.ts
  src/graphql/query/auth-check-email.ts
  src/layouts/zine.astro
  src/stores/auth.ts
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
  ssr/server.mjs
Due: prettier --write, eslint --fix

codegen
  src/graphql/types.gen.ts
Due: prettier --write, eslint --fix

auth-fixes
  src/components/Views/AllTopics.tsx
  src/graphql/publicGraphQLClient.ts
Due: prettier --write, eslint --fix

auth minor fix
  src/components/Nav/AuthModal.tsx
Due: prettier --write, eslint --fix

Header fixes
  src/components/Nav/Header.scss
  src/components/Nav/Header.tsx
Due: prettier --write, stylelint, eslint --fix

minor fixes
  .github/workflows/node-ci.yml
  package.json
  src/components/Nav/AuthModal.tsx
Due: prettier --write, sort-package-json, eslint --fix

fixes
  .eslintrc.js
  src/components/Article/FullArticle.tsx
  src/components/Feed/Card.tsx
  src/components/Nav/AuthModal.tsx
  src/components/Nav/Header.tsx
  src/components/Root.tsx
  src/components/Views/Article.tsx
  src/components/Views/Author.tsx
  src/components/Views/FeedSettings.tsx
  src/components/Views/Home.tsx
  src/components/Views/Search.tsx
  src/components/Views/Topic.tsx
  src/stores/zine/authors.ts
Due: prettier --write, eslint --fix

review fix
  src/components/Layouts/MainLayout.tsx
  src/components/Pages/AllAuthorsPage.tsx
  src/components/Pages/AllTopicsPage.tsx
  src/components/Pages/ArticlePage.tsx
  src/components/Pages/AuthorPage.tsx
  src/components/Pages/FeedPage.tsx
  src/components/Pages/FourOuFourPage.tsx
  src/components/Pages/HomePage.tsx
  src/components/Pages/SearchPage.tsx
  src/components/Pages/TopicPage.tsx
Due: prettier --write, eslint --fix

queries fixes
  src/components/Topic/Card.tsx
  src/graphql/query/article-reactions.ts
  src/graphql/query/articles-for-author-reactions.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

fuck that shit
  .eslintrc.js
  astro.config.ts
  package.json
  src/components/Feed/Card.tsx
  src/components/Feed/Row5.tsx
  src/components/Nav/Header.tsx
  src/components/Nav/Topics.tsx
  src/components/Pages/HomePage.tsx
  src/components/Root.tsx
  src/components/Views/Feed.tsx
  src/components/Views/Home.tsx
  src/components/types.ts
  src/graphql/privateGraphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  src/pages/index.astro
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
  src/utils/config.ts
  src/utils/logger.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

fixed
  src/components/Feed/Card.tsx
  src/components/Views/Home.tsx
  src/stores/zine/articles.ts
  src/stores/zine/topics.ts
Due: prettier --write, eslint --fix
