Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, stylelint, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json",
  "*.{scss,css}": "stylelint",
  "*.{ts,tsx,js}": "eslint --fix",
}

finish-chunks
  src/components/Editor/Editor.scss
  src/components/Editor/Sidebar.tsx
Due: prettier --write, stylelint, eslint --fix

refactor and fixes
  astro.config.ts
  package.json
  src/components/Article/FullArticle.tsx
  src/components/Article/Tooltip.tsx
  src/components/Discours/Donate.tsx
  src/components/Editor/Error.tsx
  src/components/Editor/Layout.tsx
  src/components/Editor/Sidebar.tsx
  src/components/Editor/index.tsx
  src/components/Editor/prosemirror/context.ts
  src/components/Editor/prosemirror/ctrl.ts
  src/components/Editor/prosemirror/extension/collab.ts
  src/components/Editor/prosemirror/index.tsx
  src/components/Editor/prosemirror/p2p.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/Feed/Beside.tsx
  src/components/Feed/Group.tsx
  src/components/Feed/Row3.tsx
  src/components/Nav/AuthModal.tsx
  src/components/Nav/Modal.tsx
  src/components/Nav/Opener.tsx
  src/components/Nav/Private.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/Create.tsx
  src/components/Views/Home.tsx
  src/graphql/query/author-followers.ts
  src/graphql/query/author-following.ts
  src/graphql/query/authors-all.ts
  src/graphql/query/authors-by-slugs.ts
  src/stores/editor.ts
  src/stores/zine/authors.ts
  src/stores/zine/topics.ts
  src/utils/groupby.ts
  src/utils/index.ts
  src/utils/sortby.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

editor-ctrl-fixes
  package.json
  src/components/Editor/Sidebar.tsx
  src/components/Editor/prosemirror/context.ts
  src/components/Editor/prosemirror/ctrl.ts
  src/components/Editor/prosemirror/p2p.ts
  src/components/Editor/prosemirror/setup.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

donate-intl
  src/components/Discours/Donate.tsx
  src/locales/ru.json
Due: prettier --write, eslint --fix

wip-refactor
  src/components/Editor/components/ArticlesList.tsx
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/Error.tsx
  src/components/Editor/components/Layout.tsx
  src/components/Editor/components/ProseMirror.tsx
  src/components/Editor/components/Sidebar.tsx
  src/components/Editor/db.ts
  src/components/Editor/index.tsx
  src/components/Editor/prosemirror/extension/base.ts
  src/components/Editor/prosemirror/extension/code.ts
  src/components/Editor/prosemirror/extension/collab.ts
  src/components/Editor/prosemirror/extension/drag-handle.ts
  src/components/Editor/prosemirror/extension/image.ts
  src/components/Editor/prosemirror/extension/index.d.ts
  src/components/Editor/prosemirror/extension/link.ts
  src/components/Editor/prosemirror/extension/mark-input-rule.ts
  src/components/Editor/prosemirror/extension/markdown.ts
  src/components/Editor/prosemirror/extension/menu.ts
  src/components/Editor/prosemirror/extension/paste-markdown.ts
  src/components/Editor/prosemirror/extension/placeholder.ts
  src/components/Editor/prosemirror/extension/prompt.ts
  src/components/Editor/prosemirror/extension/scroll.ts
  src/components/Editor/prosemirror/extension/selection.ts
  src/components/Editor/prosemirror/extension/strikethrough.ts
  src/components/Editor/prosemirror/extension/table.ts
  src/components/Editor/prosemirror/extension/todo-list.ts
  src/components/Editor/prosemirror/helpers.ts
  src/components/Editor/prosemirror/index.ts
  src/components/Editor/prosemirror/index.tsx
  src/components/Editor/prosemirror/markdown.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/Editor/store/ctrl.ts
  src/components/Editor/store/index.ts
  src/components/Views/Create.tsx
  src/locales/ru.json
  src/stores/editor.ts
Due: prettier --write, eslint --fix

fixing-editor
  src/components/Editor/prosemirror/extension/image.ts
  src/components/Editor/prosemirror/extension/todo-list.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/types.ts
  src/pages/inbox.astro
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

wip-restore-editor
  src/components/Editor/components/Error.tsx
  src/components/Editor/components/ProseMirror.tsx
  src/components/Editor/components/Sidebar.tsx
Due: prettier --write, eslint --fix

fixes
  src/components/Editor/components/Sidebar.tsx
  src/locales/ru.json
Due: prettier --write, eslint --fix

typing-fixes
  package.json
  src/assets/handle.svg
  src/components/Editor/components/Editor.tsx
  src/components/Editor/index.tsx
  src/components/Editor/prosemirror/extension/base.ts
  src/components/Editor/prosemirror/extension/collab.ts
  src/components/Editor/prosemirror/extension/drag-handle.ts
  src/components/Editor/prosemirror/extension/image.ts
  src/components/Editor/prosemirror/extension/link.ts
  src/components/Editor/prosemirror/extension/menu.ts
  src/components/Editor/prosemirror/extension/paste-markdown.ts
  src/components/Editor/prosemirror/extension/prompt.ts
  src/components/Editor/prosemirror/extension/selection.ts
  src/components/Editor/prosemirror/extension/table.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/Editor/store/ctrl.ts
  src/components/Editor/store/index.ts
  src/components/Editor/styles/Editor.scss
  src/components/Editor/styles/Sidebar.scss
  src/stores/editor.ts
  yarn.lock
Due: prettier --write, sort-package-json, stylelint, eslint --fix

draft-fixes
  src/components/Editor/store/ctrl.ts
  src/stores/editor.ts
Due: prettier --write, eslint --fix

collab fixes
  src/components/Editor/store/ctrl.ts
Due: prettier --write, eslint --fix

chunks and dynamic import
  astro.config.ts
  src/components/Editor/store/ctrl.ts
Due: prettier --write, eslint --fix

fixes
  src/components/Editor/prosemirror/extension/menu.ts
Due: prettier --write, eslint --fix

control
  src/components/Editor/prosemirror/extension/menu.ts
  src/components/Editor/prosemirror/extension/selection.ts
  src/components/Editor/store/ctrl.ts
  src/components/Editor/styles/Editor.scss
  src/pages/[...slug].astro
Due: prettier --write, stylelint, eslint --fix

fixes, loading icon
  astro.config.ts
  public/icons/arrows-rotate.svg
  src/components/Article/FullArticle.tsx
  src/components/Loading.module.scss
  src/components/Loading.tsx
  src/components/Nav/AuthModal.tsx
  src/components/Nav/Header.tsx
  src/components/Pages/AllAuthorsPage.tsx
  src/components/Pages/AllTopicsPage.tsx
  src/components/Pages/ArticlePage.tsx
  src/components/Pages/AuthorPage.tsx
  src/components/Pages/FeedPage.tsx
  src/components/Pages/HomePage.tsx
  src/components/Pages/SearchPage.tsx
  src/components/Pages/TopicPage.tsx
  src/components/Views/Author.tsx
  src/components/Views/Topic.tsx
  src/graphql/query/authors-all.ts
  src/styles/app.scss
Due: prettier --write, stylelint, eslint --fix

Rewrite several components style to css-modules
  public/icons/instagram-white.svg
  src/components/Author/Card.module.scss
  src/components/Author/Card.tsx
  src/components/Author/Full.scss
  src/components/Author/Full.tsx
  src/components/Author/Userpic.module.scss
  src/components/Author/Userpic.tsx
  src/components/Feed/Beside.module.scss
  src/components/Feed/Beside.tsx
  src/components/Feed/Card.module.scss
  src/components/Feed/Card.tsx
  src/components/Feed/CardTopic.module.scss
  src/components/Feed/CardTopic.tsx
  src/components/Feed/Group.tsx
  src/components/Feed/Row2.tsx
  src/components/Feed/Row5.tsx
  src/components/Feed/RowShort.tsx
  src/components/Feed/Slider.scss
  src/components/Feed/Slider.tsx
  src/components/Nav/Private.tsx
  src/components/Topic/Card.module.scss
  src/components/Topic/Card.tsx
  src/components/Views/Author.tsx
  src/components/Views/Topic.tsx
  src/styles/app.scss
Due: prettier --write, stylelint, eslint --fix

debug editor
  src/components/Editor/store/ctrl.ts
Due: prettier --write, eslint --fix

git hooks disabled
  package.json
Due: prettier --write, sort-package-json

Fixed single article block
  src/components/Feed/Card.module.scss
  src/components/Feed/Card.tsx
  src/components/Feed/Row1.scss
  src/components/Feed/Row1.tsx
Due: prettier --write, stylelint, eslint --fix

hot fixes
  src/components/Views/AllAuthors.tsx
  src/graphql/query/article-reactions.ts.bak
  src/graphql/types.gen.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

Share controls popup
  public/icons/link-white.svg
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Popup.module.scss
  src/components/Nav/Popup.tsx
  src/locales/ru.json
  src/stores/ui.ts
Due: prettier --write, stylelint, eslint --fix

Linter fixes
  src/components/Nav/Popup.module.scss
  src/components/Nav/Popup.tsx
Due: prettier --write, stylelint, eslint --fix

Header mobile fixes
  src/components/Feed/Group.scss
  src/components/Feed/Group.tsx
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
Due: prettier --write, stylelint, eslint --fix

Fixed loading
  src/components/Loading.module.scss
  src/styles/app.scss
Due: prettier --write, stylelint

reactionsByShout not used
  docs/article.puml
  src/graphql/publicGraphQLClient.ts
  src/graphql/query/article-reactions.ts
  src/graphql/types.gen.ts
  src/stores/zine/reactions.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

fix-state
  CHANGELOG.txt
  public/icons/checkbox.svg
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/Sidebar.tsx
  src/components/Editor/index.tsx
  src/components/Editor/prosemirror/p2p.ts
  src/components/Editor/store/ctrl.ts
  src/components/Pages/CreatePage.tsx
  src/components/Views/Create.tsx
  src/locales/ru.json
Due: prettier --write, eslint --fix

re-integrated
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/Error.tsx
  src/components/Editor/components/Layout.tsx
  src/components/Editor/components/ProseMirror.tsx
  src/components/Editor/components/Sidebar.tsx
  src/components/Editor/markdown.ts
  src/components/Editor/prosemirror/extension/paste-markdown.ts
  src/components/Editor/prosemirror/helpers.ts
  src/components/Editor/prosemirror/index.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/Editor/remote.ts
  src/components/Editor/store/actions.ts
  src/components/Editor/store/context.ts
  src/components/Pages/CreatePage.tsx
  src/components/Views/Create.tsx
  src/stores/editor.ts
Due: prettier --write, eslint --fix

webonly-fixed-2
  src/components/Editor/markdown.ts
  src/components/Editor/prosemirror/extension/collab.ts
  src/components/Editor/remote.ts
Due: prettier --write, eslint --fix

Hide popup on document click
  src/components/Nav/Header.tsx
  src/components/Nav/Popup.tsx
Due: prettier --write, eslint --fix

postmerge, unstore drafts
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/Error.tsx
  src/components/Editor/components/Layout.tsx
  src/components/Editor/components/Sidebar.tsx
  src/components/Editor/markdown.ts
  src/components/Editor/prosemirror/extension/todo-list.ts
  src/components/Editor/prosemirror/p2p.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/Editor/store/actions.ts
  src/components/Editor/store/context.ts
  src/components/Views/Create.tsx
  src/locales/ru.json
Due: prettier --write, eslint --fix

no reactions in p2p
  src/components/Editor/prosemirror/p2p.ts
Due: prettier --write, eslint --fix

demo
  .eslintrc.js
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/Error.tsx
  src/components/Editor/components/Layout.tsx
  src/components/Editor/components/ProseMirror.tsx
  src/components/Editor/components/Sidebar.tsx
  src/components/Editor/env.ts
  src/components/Editor/markdown.ts
  src/components/Editor/prosemirror/extension/base.ts
  src/components/Editor/prosemirror/extension/code.ts
  src/components/Editor/prosemirror/extension/collab.ts
  src/components/Editor/prosemirror/extension/drag-handle.ts
  src/components/Editor/prosemirror/extension/image.ts
  src/components/Editor/prosemirror/extension/link.ts
  src/components/Editor/prosemirror/extension/mark-input-rule.ts
  src/components/Editor/prosemirror/extension/markdown.ts
  src/components/Editor/prosemirror/extension/menu.ts
  src/components/Editor/prosemirror/extension/paste-markdown.ts
  src/components/Editor/prosemirror/extension/placeholder.ts
  src/components/Editor/prosemirror/extension/prompt.ts
  src/components/Editor/prosemirror/extension/scroll.ts
  src/components/Editor/prosemirror/extension/selection.ts
  src/components/Editor/prosemirror/extension/strikethrough.ts
  src/components/Editor/prosemirror/extension/table.ts
  src/components/Editor/prosemirror/extension/todo-list.ts
  src/components/Editor/prosemirror/helpers.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/Editor/remote.ts
  src/components/Editor/store/actions.ts
  src/components/Editor/store/context.ts
  src/components/Editor/styles/ArticlesList.scss
  src/components/Editor/styles/Button.scss
  src/components/Editor/styles/Editor.scss
  src/components/Editor/styles/Error.scss
  src/components/Editor/styles/Index.scss
  src/components/Editor/styles/Layout.scss
  src/components/Editor/styles/Sidebar.scss
Due: prettier --write, stylelint, eslint --fix

Fixed editor field width
  src/components/Editor/styles/Editor.scss
Due: prettier --write, stylelint

Minor style fixes
  src/components/Editor/styles/Editor.scss
Due: prettier --write, stylelint

Default user link icon
  public/icons/user-link-default.svg
  src/components/Author/Card.module.scss
Due: prettier --write, stylelint

Fixed user links style
  public/icons/edit.svg
  src/components/Author/Card.module.scss
  src/components/Author/Card.tsx
  src/components/Views/AllAuthors.tsx
Due: prettier --write, stylelint, eslint --fix

Fixed footer style
  src/components/Discours/Footer.module.scss
  src/components/Discours/Footer.tsx
  src/components/Discours/Subscribe.module.scss
  src/components/Discours/Subscribe.tsx
  src/locales/ru.json
  src/styles/app.scss
Due: prettier --write, stylelint, eslint --fix

Typography fixes
  src/components/Pages/about/ManifestPage.tsx
Due: prettier --write, eslint --fix
