Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, sort-json

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json",
  "public/locales/**/*.json": "sort-json"
}

derg-fix
  src/components/Feed/ArticleCard/ArticleCard.tsx
Due: prettier --write

Hotfix/featured (#391)
  src/components/Article/FullArticle.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/SearchModal/SearchModal.tsx
  src/components/Views/Edit.tsx
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Home.tsx
  src/context/editor.tsx
  src/context/following.tsx
  src/graphql/query/core/article-load.ts
  src/graphql/query/core/articles-load-by.ts
  src/graphql/query/core/articles-load-drafts.ts
  src/graphql/query/core/articles-load-feed.ts
  src/graphql/query/core/articles-load-followed.ts
  src/graphql/query/core/articles-load-random-top.ts
  src/graphql/query/core/articles-load-random-topic.ts
  src/graphql/query/core/articles-load-unrated.ts
  src/pages/author.page.server.ts
  src/pages/author.page.tsx
  src/pages/feed.page.tsx
  src/pages/index.page.server.ts
  src/pages/index.page.tsx
  src/pages/topic.page.server.ts
  src/pages/topic.page.tsx
  src/stores/zine/articles.ts
  src/stores/zine/layouts.ts
  src/utils/sortby.ts
Due: prettier --write

visibility-tail
  src/graphql/mutation/core/article-update.ts
Due: prettier --write

lesscode
  src/context/editor.tsx
Due: prettier --write

minor-fix
  src/context/editor.tsx
  src/graphql/client/core.ts
  src/graphql/mutation/core/article-update.ts
Due: prettier --write

draft-remove-fix
  src/components/Views/DraftsView/DraftsView.tsx
  src/context/editor.tsx
  src/stores/zine/articles.ts
Due: prettier --write

refactoring Author page
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Views/Author/Author.tsx
Due: prettier --write

modal-fix
  src/components/Views/Edit.tsx
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Inbox/Inbox.tsx
  src/components/_shared/InviteMembers/InviteMembers.tsx
  src/graphql/query/core/reactions-load-by.ts
Due: prettier --write

refactoring Top Author list
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Feed/Beside.tsx
  src/components/Views/Home.tsx
Due: prettier --write

Feature/refactoring subscriptions (#392)
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Feed/Beside.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/Home.tsx
  src/stores/zine/articles.ts
Due: prettier --write

postfixes
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/AuthModal/LoginForm.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/Edit.tsx
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Home.tsx
  src/components/Views/Inbox/Inbox.tsx
  src/context/editor.tsx
Due: prettier --write

warning-tails-fix
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/SearchModal/SearchModal.tsx
Due: prettier --write

--
  src/components/_shared/InviteMembers/InviteMembers.tsx
Due: prettier --write

debug-comments-log
  src/components/Views/Author/Author.tsx
Due: prettier --write

author-name-fix
  src/components/Views/Author/Author.tsx
Due: prettier --write

expect-meta
  src/components/Views/Author/Author.tsx
Due: prettier --write

Author page title fix
  src/components/Views/Author/Author.tsx
  src/pages/author.page.tsx
Due: prettier --write

cleanup
  src/components/Views/Author/Author.tsx
Due: prettier --write

Hotfix/author page title (#393)
  src/components/Views/Author/Author.tsx
  src/pages/author.page.tsx
Due: prettier --write

common-result-api
  src/context/profile.tsx
  src/graphql/client/core.ts
  src/graphql/mutation/core/author-update.ts
Due: prettier --write

recover form
  src/context/editor.tsx
Due: prettier --write

biome integration
  .gitea/workflows/main.yml
  biome.json
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

setSession fix
  src/context/session.tsx
Due: prettier --write

setSession fix (#395)
  src/context/session.tsx
Due: prettier --write

invite-modal-hotfix
  src/components/_shared/InviteMembers/InviteMembers.tsx
Due: prettier --write

test-ci
  .eslintignore
  .eslintrc.cjs
  .gitea/workflows/main.yml
  .lintstagedrc
  .lintstagedrc.bak
  package-lock.json
  package.json
Due: prettier --write, sort-package-json

fmt-lint
  src/context/connect.tsx
  src/context/inbox.tsx
Due: prettier --write

fmt-lint
  package-lock.json
  package.json
  src/components/Discours/Donate.tsx
Due: prettier --write, sort-package-json

biome-fixes
  biome.json
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/pages/article.page.tsx
  src/pages/author.page.tsx
  src/pages/expo/expo.page.tsx
  src/pages/search.page.tsx
  src/pages/topic.page.tsx
Due: prettier --write

sometimes-needed
  biome.json
Due: prettier --write

sometimes-needed
  src/pages/article.page.tsx
Due: prettier --write

sometimes-needed
  src/pages/article.page.tsx
  src/pages/author.page.tsx
  src/pages/expo/expo.page.tsx
  src/pages/search.page.tsx
  src/pages/topic.page.tsx
Due: prettier --write

less-biome
  .gitea/workflows/main.yml
Due: none

less-steps
  .gitea/workflows/main.yml
Due: none

biome-auto
  .gitea/workflows/main.yml
Due: none

nogithub-token
  .gitea/workflows/main.yml
Due: none

boimed-some
  vite.config.ts
Due: prettier --write

-ssr
  api/ssr.mjs
Due: none
