Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, sort-json

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json",
  "public/locales/**/*.json": "sort-json"
}

test-job-ci
  .gitea/workflows/main.yml
  codegen.yml
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/AuthModal/LoginForm.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/components/NotificationsPanel/NotificationView/NotificationView.tsx
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/components/_shared/GroupAvatar/GroupAvatar.tsx
  src/context/authorizer.tsx
  src/context/profile.tsx
  src/context/session.tsx
  src/graphql/client/notifier.ts
  src/graphql/privateGraphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  src/stores/auth.ts
  src/stores/zine/authors.ts
  src/utils/config.ts
Due: prettier --write

Minor style fixes
  public/locales/ru/translation.json
  src/components/Author/AuthorCard/AuthorCard.module.scss
  src/components/Feed/ArticleCard/ArticleCard.module.scss
  src/components/_shared/Popup/Popup.module.scss
Due: prettier --write, sort-json

ci
  .gitea/workflows/main.yml
Due: none

ci3
  .gitea/workflows/main.yml
Due: none

ci-4
  .gitea/workflows/main.yml
Due: none

ci+https-fix
  .gitea/workflows/main.yml
  src/context/authorizer.tsx
Due: prettier --write

dummy-runable
  codegen.yml
  src/components/Nav/AuthModal/SocialProviders.tsx
  src/context/session.tsx
  src/graphql/client/core.ts
  src/graphql/query/core/articles-load-search.ts
  src/pages/author.page.server.ts
  src/pages/expo/expo.page.server.ts
  src/pages/expo/expoLayout.page.server.ts
  src/pages/index.page.server.ts
  src/pages/search.page.server.ts
  src/stores/zine/articles.ts
  src/stores/zine/layouts.ts
  src/utils/handleFileUpload.ts
Due: prettier --write

minor-fixes
  src/components/Views/Home.tsx
  src/graphql/query/core/article-load.ts
Due: prettier --write

published-filter-fix
  src/components/Views/Home.tsx
  src/pages/index.page.server.ts
  src/pages/index.page.tsx
  src/stores/zine/articles.ts
Due: prettier --write

filter-format-fix
  src/components/Views/Home.tsx
  src/context/session.tsx
  src/graphql/client/core.ts
  src/pages/author.page.server.ts
  src/pages/expo/expo.page.server.ts
  src/pages/expo/expoLayout.page.server.ts
  src/pages/index.page.server.ts
  src/pages/search.page.server.ts
  src/stores/zine/articles.ts
  src/stores/zine/layouts.ts
Due: prettier --write

author-feed-fix
  src/pages/author.page.tsx
  src/pages/feed.page.tsx
Due: prettier --write

premerge
  src/components/Author/Userpic/Userpic.tsx
  src/components/Discours/Banner.tsx
  src/components/Nav/AuthModal/AuthModal.module.scss
  src/components/Nav/HeaderAuth.tsx
  src/pages/search.page.tsx
  src/stores/zine/articles.ts
Due: prettier --write

Modal style fixes
  src/components/Nav/ConfirmModal/ConfirmModal.module.scss
Due: prettier --write

Profile settings buttons style fixes
  src/components/ProfileSettings/ProfileSettings.tsx
  src/pages/profile/Settings.module.scss
Due: prettier --write

schema-updates
  src/components/Article/CommentRatingControl.tsx
  src/components/Article/CommentsTree.tsx
  src/components/Article/FullArticle.tsx
  src/components/Article/ShoutRatingControl.tsx
  src/components/Editor/Editor.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/Header/Header.tsx
  src/context/reactions.tsx
  src/graphql/client/core.ts
  src/graphql/query/core/article-load.ts
  src/graphql/query/core/articles-load-by.ts
  src/graphql/query/core/articles-load-drafts.ts
  src/graphql/query/core/articles-load-feed.ts
  src/graphql/query/core/articles-load-followed.ts
  src/graphql/query/core/articles-load-search.ts
Due: prettier --write

lint-fix
  src/components/Article/FullArticle.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/Header/Header.tsx
  src/components/Nav/SearchModal/SearchModal.tsx
Due: prettier --write

load-fix
  src/graphql/query/core/article-load.ts
  src/graphql/query/core/articles-load-by.ts
  src/graphql/query/core/articles-load-drafts.ts
  src/graphql/query/core/articles-load-feed.ts
  src/graphql/query/core/articles-load-followed.ts
  src/graphql/query/core/articles-load-search.ts
Due: prettier --write

postmerge-fixes
  src/components/Views/Edit.tsx
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
Due: prettier --write

forget-fix-graphql-client-fix
  public/locales/ru/translation.json
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Author/Userpic/Userpic.tsx
  src/components/Nav/AuthModal/EmailConfirm.tsx
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/context/authorizer.tsx
  src/context/connect.tsx
  src/context/editor.tsx
  src/context/inbox.tsx
  src/context/notifications.tsx
  src/context/profile.tsx
  src/context/reactions.tsx
  src/context/session.tsx
  src/graphql/client/chat.ts
  src/graphql/client/core.ts
  src/graphql/client/notifier.ts
  src/graphql/createGraphQLClient.ts
  src/graphql/privateGraphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  src/stores/token.ts
Due: prettier --write, sort-json

connect retries limit, query fix, session fix
  codegen.yml
  src/context/connect.tsx
  src/context/inbox.tsx
  src/context/session.tsx
  src/graphql/query/core/authors-followed-by.ts
Due: prettier --write

[WIP]
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Views/Inbox.tsx
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/components/_shared/Search/Search.module.scss
  src/components/_shared/Search/Search.tsx
  src/components/_shared/Search/index.ts
  src/stores/ui.ts
Due: prettier --write, sort-json

remove ResizeObserver
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
Due: prettier --write

Resolve conversation
  src/components/_shared/SolidSwiper/EditorSwiper.tsx
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
Due: prettier --write

Mobile view slider (#324)
  src/components/Views/Edit.tsx
  src/components/_shared/SolidSwiper/ArticleCardSwiper.tsx
  src/components/_shared/SolidSwiper/EditorSwiper.tsx
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
  src/components/_shared/SolidSwiper/index.ts
Due: prettier --write

ResizeObserver remove
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
Due: prettier --write

ResizeObserver remove (#328)
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
Due: prettier --write

[WIP]
  src/components/Article/FullArticle.tsx
  src/utils/config.ts
  src/utils/meta.ts
Due: prettier --write

[WIP]
  package.json
  src/utils/meta.ts
Due: prettier --write, sort-package-json

- update sold & vike
  src/components/Article/FullArticle.tsx
  src/utils/meta.ts
Due: prettier --write

- update sold & vike
  package-lock.json
  package.json
  src/components/_shared/PageLayout.tsx
Due: prettier --write, sort-package-json

remove usrMemo
  src/components/Article/FullArticle.tsx
  src/components/_shared/PageLayout.tsx
  src/utils/meta.ts
Due: prettier --write

cleanup code
  package.json
  src/components/_shared/PageLayout.tsx
Due: prettier --write, sort-package-json

test dev robots.txt
  public/robots.txt
Due: none

test dev robots.txt
  src/utils/config.ts
Due: prettier --write

CleanupCode
  src/components/Article/FullArticle.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
Due: prettier --write

caption-fix
  src/components/Article/FullArticle.tsx
  src/utils/getImageUrl.ts
Due: prettier --write

maintopic-fix
  src/components/Article/FullArticle.tsx
Due: prettier --write

cover_caption
  src/components/Article/FullArticle.tsx
Due: prettier --write

banner image url fix
  src/components/Discours/Banner.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/HeaderAuth.tsx
  src/components/Topic/Card.tsx
  src/components/Topic/TopicBadge/TopicBadge.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Feed.tsx
  src/context/connect.tsx
  src/graphql/query/core/article-load.ts
Due: prettier --write
