Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc:

{
  "*.{js,mjs,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json"
}

Fixed auth popup and userpic style
  src/components/Author/Userpic.module.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Modal/Modal.module.scss
  src/components/Nav/Modal/Modal.tsx
Due: prettier --write

refactor audoi player
  public/icons/lyrics-media.svg
  public/icons/share-media.svg
  src/components/Article/Article.module.scss
  src/components/Article/AudioPlayer.module.scss
  src/components/Article/AudioPlayer.tsx
  src/components/Article/FullArticle.tsx
Due: prettier --write

fix lint errors
  package-lock.json
  package.json
  src/components/Article/AudioPlayer.tsx
  src/components/Article/AudioPlayer/AudioPlayer.module.scss
  src/components/Article/AudioPlayer/AudioPlayer.tsx
  src/components/Article/AudioPlayer/PlayerHeader.tsx
  src/components/Article/AudioPlayer/PlayerPlaylist.tsx
  src/components/Article/FullArticle.tsx
  yarn.lock
Due: prettier --write, sort-package-json

upload component
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Article/CommentDate.tsx
  src/components/Discours/Subscribe.tsx
  src/components/Editor/ImagesUploader/ImagesUploader.module.scss
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/Editor/ImagesUploader/index.ts
  src/components/Editor/VideoUploader/VideoUploader.tsx
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/AuthModal/LoginForm.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/components/Views/Edit.tsx
  src/components/_shared/DropArea/DropArea.module.scss
  src/components/_shared/DropArea/DropArea.tsx
  src/components/_shared/DropArea/index.ts
  src/pages/types.ts
  src/utils/handleFileUpload.ts
  src/utils/validateEmail.ts
  src/utils/validateFile.ts
Due: prettier --write

fix ts errors
  src/components/Article/CommentDate.tsx
  src/components/Article/FullArticle.tsx
Due: prettier --write

remove unnecc yarn files
  yarn-error.log
  yarn.lock
Due: none

Universal uploader
  package-lock.json
  package.json
  src/components/Article/CommentDate.tsx
  src/components/Article/FullArticle.tsx
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/_shared/DropArea/DropArea.tsx
  src/utils/handleFileUpload.ts
Due: prettier --write, sort-package-json

Change text on hover in author follow button
  src/components/Author/AuthorCard.module.scss
  src/components/Author/AuthorCard.tsx
Due: prettier --write

7 hot topics on the feed page
  src/components/Views/Feed.tsx
Due: prettier --write

Change link color in the comments block on the feed page
  src/components/Views/Feed.module.scss
Due: prettier --write

Slider form uploaded media
  package-lock.json
  package.json
  src/components/Article/FullArticle.tsx
  src/components/Editor/ImagesUploader/ImagesUploader.module.scss
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/Editor/VideoUploader/VideoUploader.tsx
  src/components/Views/Home.tsx
  src/components/Views/Topic.tsx
  src/components/_shared/Slider/Slider.scss
  src/components/_shared/Slider/Slider.tsx
  src/components/_shared/Slider/index.ts
  src/pages/layoutShouts.page.tsx
  src/pages/types.ts
Due: prettier --write, sort-package-json

layout pages
  src/pages/layoutShouts.page.server.ts
  src/pages/layoutShouts.page.tsx
  src/stores/zine/layouts.ts
Due: prettier --write

lint
  src/components/Editor/BubbleMenu/BubbleMenu.module.scss
  src/components/Feed/ArticleCard.module.scss
  src/components/Topic/Card.module.scss
  src/components/_shared/DarkModeToggle/DarkModeToggle.tsx
  src/pages/types.ts
  src/styles/AllTopics.module.scss
Due: prettier --write

code review, lint, build fix
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Article/CommentDate.tsx
  src/pages/layoutShouts.page.tsx
  src/pages/types.ts
Due: prettier --write

lint
  src/components/Article/Article.module.scss
  src/components/Article/Comment.module.scss
  src/components/Article/Comment.tsx
  src/components/Article/CommentDate.module.scss
  src/components/Article/CommentDate.tsx
  src/components/Author/AuthorCard.tsx
  src/components/Discours/Footer.module.scss
  src/components/Discours/Subscribe.module.scss
  src/components/Editor/BubbleMenu/BlockquoteBubbleMenu.tsx
  src/components/Editor/BubbleMenu/FigureBubbleMenu.tsx
  src/components/Editor/Panel/Panel.module.scss
  src/components/Editor/Prosemirror.scss
  src/components/Editor/VideoUploader/VideoUploader.module.scss
  src/components/Editor/extensions/CustomBlockquote.ts
  src/components/Feed/ArticleCard.module.scss
  src/components/Feed/Beside.module.scss
  src/components/Feed/Sidebar/Sidebar.module.scss
  src/components/Nav/AuthModal/AuthModal.module.scss
  src/components/Nav/AuthModal/SocialProviders.module.scss
  src/components/Nav/Topics.scss
  src/components/Topic/Full.module.scss
  src/components/Views/Edit.tsx
  src/components/Views/Feed.module.scss
  src/components/_shared/DarkModeToggle/DarkModeToggle.module.scss
  src/components/_shared/GrowingTextarea/GrowingTextarea.module.scss
  src/components/_shared/Stat.module.scss
  src/components/_shared/VideoPlayer/VideoPlayer.module.scss
  src/context/session.tsx
  src/pages/edit.page.tsx
  src/styles/app.scss
Due: prettier --write

expo pages (#111)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Article/Article.module.scss
  src/components/Article/Comment.module.scss
  src/components/Article/Comment.tsx
  src/components/Article/CommentDate.module.scss
  src/components/Article/CommentDate.tsx
  src/components/Author/AuthorCard.tsx
  src/components/Discours/Footer.module.scss
  src/components/Discours/Subscribe.module.scss
  src/components/Editor/BubbleMenu/BlockquoteBubbleMenu.tsx
  src/components/Editor/BubbleMenu/BubbleMenu.module.scss
  src/components/Editor/BubbleMenu/FigureBubbleMenu.tsx
  src/components/Editor/Panel/Panel.module.scss
  src/components/Editor/Prosemirror.scss
  src/components/Editor/VideoUploader/VideoUploader.module.scss
  src/components/Editor/extensions/CustomBlockquote.ts
  src/components/Feed/ArticleCard.module.scss
  src/components/Feed/Beside.module.scss
  src/components/Feed/Sidebar/Sidebar.module.scss
  src/components/Nav/AuthModal/AuthModal.module.scss
  src/components/Nav/AuthModal/SocialProviders.module.scss
  src/components/Nav/Topics.scss
  src/components/Topic/Card.module.scss
  src/components/Topic/Full.module.scss
  src/components/Views/Edit.tsx
  src/components/Views/Feed.module.scss
  src/components/_shared/DarkModeToggle/DarkModeToggle.module.scss
  src/components/_shared/DarkModeToggle/DarkModeToggle.tsx
  src/components/_shared/GrowingTextarea/GrowingTextarea.module.scss
  src/components/_shared/Stat.module.scss
  src/components/_shared/VideoPlayer/VideoPlayer.module.scss
  src/context/session.tsx
  src/pages/edit.page.tsx
  src/pages/layoutShouts.page.server.ts
  src/pages/layoutShouts.page.tsx
  src/pages/types.ts
  src/stores/zine/layouts.ts
  src/styles/AllTopics.module.scss
  src/styles/app.scss
Due: prettier --write

Growing descriptions
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Editor/ImagesUploader/ImagesUploader.module.scss
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/_shared/Slider/Slider.scss
  src/components/_shared/Slider/Slider.tsx
  src/styles/app.scss
Due: prettier --write

[WIP] upload test
  package-lock.json
  package.json
  src/components/Article/FullArticle.tsx
  src/components/Editor/ImagesUploader/ImagesUploader.module.scss
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/Views/Edit.tsx
  src/components/_shared/Slider/Slider.tsx
Due: prettier --write, sort-package-json

[feature/76] sse updated
  package-lock.json
  package.json
  src/pages/index.page.tsx
  src/utils/apiClient.ts
Due: prettier --write, sort-package-json

Fixed userpic position in the comments block
  src/components/Author/Userpic.module.scss
Due: prettier --write

Added snackbars to subscription and copy link in the share popup
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Article/SharePopup.tsx
  src/components/Discours/Subscribe.tsx
Due: prettier --write

init new slider
  package-lock.json
  package.json
  src/components/Editor/ImagesUploader/ImagesUploader.module.scss
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/Editor/VideoUploader/VideoUploader.tsx
  src/components/_shared/Slider/Slider.tsx
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
  src/components/_shared/SolidSwiper/index.ts
Due: prettier --write, sort-package-json

onMount hack in Swiper
  public/icons/swiper-l-arr.svg
  public/icons/swiper-r-arr.svg
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
  src/pages/types.ts
Due: prettier --write

remove onMount hack in Swiper
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
Due: prettier --write

Delete action
  public/icons/delete-white.svg
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Editor/ImagesUploader/ImagesUploader.module.scss
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
Due: prettier --write

Upload action
  package-lock.json
  package.json
  public/icons/swiper-plus.svg
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
Due: prettier --write, sort-package-json

update action
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/_shared/DropArea/DropArea.tsx
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
Due: prettier --write

refactor by review comments
  src/components/Article/AudioPlayer/AudioPlayer.module.scss
  src/components/Article/AudioPlayer/AudioPlayer.tsx
  src/components/Article/AudioPlayer/PlayerPlaylist.tsx
  src/components/Article/FullArticle.tsx
Due: prettier --write

Article card feed mode
  src/components/Article/Article.module.scss
  src/components/Author/AuthorCard.module.scss
  src/components/Author/AuthorCard.tsx
  src/components/Author/Userpic.module.scss
  src/components/Author/Userpic.tsx
  src/components/Feed/ArticleCard.module.scss
  src/components/Feed/ArticleCard.tsx
  src/components/Feed/CardTopic.module.scss
  src/components/Feed/CardTopic.tsx
  src/components/Nav/Header.module.scss
  src/styles/app.scss
Due: prettier --write

[222] change headers signature in Editor
  src/components/Editor/Editor.tsx
  src/components/Editor/TextBubbleMenu/TextBubbleMenu.tsx
Due: prettier --write

[222] change headers signature in Editor (#113)
  src/components/Editor/Editor.tsx
  src/components/Editor/TextBubbleMenu/TextBubbleMenu.tsx
Due: prettier --write

[219] fix header logo col width
  src/components/Nav/Header.tsx
Due: prettier --write

[219] fix header logo col width (#114)
  src/components/Nav/Header.tsx
Due: prettier --write

keen-slider implementation
  package-lock.json
  package.json
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
  src/components/_shared/SolidSwiper/plugins/Mutation.ts
  src/components/_shared/SolidSwiper/plugins/Thumbnail.ts
  src/components/_shared/SolidSwiper/plugins/index.ts
Due: prettier --write, sort-package-json

Uploader
  src/components/Article/FullArticle.tsx
  src/components/Editor/ImagesUploader/ImagesUploader.tsx
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
  src/components/_shared/SolidSwiper/plugins/Mutation.ts
Due: prettier --write

Article gallery
  src/components/Article/FullArticle.tsx
  src/components/_shared/SolidSwiper/SolidSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
  src/styles/app.scss
Due: prettier --write

Header align fix
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
Due: prettier --write

Header align fix (build test)
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
Due: prettier --write

Header align fix (build test)
  src/components/Nav/Header.tsx
Due: prettier --write

Header align fix (build test)
  src/components/Nav/Header.module.scss
Due: prettier --write
