Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, sort-json

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json",
  "public/locales/**/*.json": "sort-json"
}

unrated articles + random top fixes
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.tsx
  src/graphql/query/articles-load-unrated.ts
  src/graphql/types.gen.ts
  src/utils/apiClient.ts
Due: prettier --write

Feature/unrated (#334)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.module.scss
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Feed/index.ts
  src/components/Views/Search.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
  src/graphql/query/articles-load-unrated.ts
  src/graphql/types.gen.ts
  src/pages/author.page.tsx
  src/pages/expo/expo.page.tsx
  src/pages/feed.page.tsx
  src/pages/topic.page.tsx
  src/stores/zine/articles.ts
  src/utils/apiClient.ts
Due: prettier --write, sort-json

session-connect-debug
  src/components/Article/FullArticle.tsx
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/components/Nav/AuthModal/ResetPasswordForm.tsx
  src/components/Nav/HeaderAuth.tsx
  src/components/NotificationsPanel/NotificationView/NotificationView.tsx
  src/components/ProfileSettings/ProfileSettings.tsx
  src/components/Topic/Card.tsx
  src/components/Topic/TopicBadge/TopicBadge.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Edit.tsx
  src/components/Views/Feed.tsx
  src/components/Views/Inbox.tsx
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
  src/context/connect.tsx
  src/context/inbox.tsx
  src/context/notifications.tsx
  src/context/session.tsx
  src/graphql/client/notifier.ts
Due: prettier --write

publicGraphQLClient, privateGraphQLClient -> graphQLClient
  src/context/session.tsx
  src/graphql/graphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  src/utils/apiClient.ts
Due: prettier --write

ssr fix
  src/graphql/graphQLClient.ts
Due: prettier --write

publicGraphQLClient, privateGraphQLClient -> graphQLClient (#336)
  src/context/session.tsx
  src/graphql/graphQLClient.ts
  src/graphql/publicGraphQLClient.ts
  src/utils/apiClient.ts
Due: prettier --write

expo random tops fixes
  src/components/Views/Expo/Expo.tsx
Due: prettier --write

expo random tops fixes (#337)
  src/components/Views/Expo/Expo.tsx
Due: prettier --write

rewritten-session-context
  src/components/Nav/AuthModal/EmailConfirm.tsx
  src/components/Nav/AuthModal/types.ts
  src/context/session.tsx
Due: prettier --write

session-context-fix
  src/context/session.tsx
Due: prettier --write

fix lightbox images layering for icons
  src/components/Article/Article.module.scss
  src/components/Article/FullArticle.tsx
  src/components/_shared/Icon/Icon.tsx
Due: prettier --write

refactor icon data lightbox
  src/components/Article/Article.module.scss
  src/components/Article/FullArticle.tsx
  src/components/_shared/Icon/Icon.tsx
Due: prettier --write

[WIP]
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/components/Views/Search.tsx
  src/components/_shared/DropdownSelect/DropdownSelect.module.scss
  src/components/_shared/DropdownSelect/DropdownSelect.tsx
  src/components/_shared/DropdownSelect/index.ts
  src/components/_shared/Search/Search.tsx
  src/components/_shared/UserSearch/UserSearch.module.scss
  src/components/_shared/UserSearch/UserSearch.tsx
  src/components/_shared/UserSearch/index.ts
  src/graphql/schema/chat.gen.ts
  src/graphql/schema/core.gen.ts
  src/graphql/schema/notifier.gen.ts
  src/utils/config.ts
Due: prettier --write, sort-json

session-fixes
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/AuthModal/AuthModal.module.scss
  src/components/Nav/AuthModal/EmailConfirm.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/DraftsView/DraftsView.tsx
  src/context/connect.tsx
  src/context/inbox.tsx
  src/context/notifications.tsx
  src/context/session.tsx
Due: prettier --write

premerge-fixes
  src/components/Nav/AuthModal/EmailConfirm.tsx
  src/components/Nav/SearchModal/SearchModal.tsx
  src/components/Views/Inbox.tsx
  src/context/inbox.tsx
  src/context/notifications.tsx
  src/context/session.tsx
  src/stores/inbox.ts
Due: prettier --write

merged.
  src/components/Views/Author/Author.tsx
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Feed/index.ts
  src/graphql/client/core.ts
  src/graphql/graphQLClient.ts
  src/graphql/query/core/articles-load-followed.ts
  src/graphql/query/core/articles-load-random-top.ts
  src/graphql/query/core/articles-load-unrated.ts
  src/graphql/types.gen.ts
  src/pages/expo/expoLayout.page.server.ts
  src/utils/apiClient.ts
  src/utils/getServerDate.ts
  src/utils/meta.ts
Due: prettier --write

notifier-connected
  src/components/Nav/AuthModal/EmailConfirm.tsx
Due: prettier --write

expo top fix, feed right column loading state
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.tsx
Due: prettier --write

expo top fix, feed right column loading state (#339)
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.tsx
Due: prettier --write

fix lightbox images layering for icons (#338)
  src/components/Article/Article.module.scss
  src/components/Article/FullArticle.tsx
  src/components/_shared/Icon/Icon.tsx
Due: prettier --write

User Search
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/_shared/UserSearch/UserSearch.module.scss
  src/components/_shared/UserSearch/UserSearch.tsx
Due: prettier --write, sort-json

inbox-reuse-authors
  package-lock.json
  package.json
  src/components/Article/FullArticle.tsx
  src/components/Author/AhtorLink/AuthorLink.tsx
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Inbox/DialogCard.tsx
  src/components/NotificationsPanel/NotificationsPanel.tsx
  src/context/editor.tsx
  src/context/inbox.tsx
  src/context/notifications.tsx
  src/context/profile.tsx
  src/context/reactions.tsx
  src/context/session.tsx
  src/graphql/query/core/articles-load-unrated.ts
  src/graphql/query/notifier/notifications-load.ts
  src/utils/cyrillic.ts
  src/utils/getImageUrl.ts
Due: prettier --write, sort-package-json

search-modal-fix
  src/components/Nav/SearchModal/SearchModal.tsx
  src/components/Views/Search.tsx
  src/context/inbox.tsx
  src/graphql/query/core/articles-load-search.ts
  src/pages/search.page.server.ts
  src/pages/types.ts
Due: prettier --write

prepare search modal, refactor search fetch, handle intersection, etc.
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/SearchModal/SearchModal.module.scss
  src/components/Nav/SearchModal/SearchModal.tsx
  src/styles/app.scss
Due: prettier --write, sort-json

feed period select
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Article/FullArticle.tsx
  src/components/AuthGuard/AuthGuard.tsx
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Discours/Hero.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/AuthModal/LoginForm.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/components/NotificationsPanel/NotificationView/NotificationView.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.module.scss
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Home.tsx
  src/components/Views/Inbox.tsx
  src/components/Views/Topic.tsx
  src/components/_shared/DropDown/DropDown.module.scss
  src/components/_shared/DropDown/DropDown.tsx
  src/components/_shared/DropDown/index.ts
  src/components/_shared/Popup/Popup.tsx
  src/context/localize.tsx
  src/pages/feed.page.tsx
  src/stores/router.ts
  src/stores/ui.ts
Due: prettier --write, sort-json

fix, unused code removed
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Home.tsx
  src/components/_shared/DropDown/DropDown.tsx
  src/components/_shared/Popup/Popup.tsx
Due: prettier --write

Change parent branch
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/components/_shared/DropdownSelect/DropdownSelect.module.scss
  src/components/_shared/DropdownSelect/DropdownSelect.tsx
  src/components/_shared/DropdownSelect/index.ts
  src/components/_shared/InviteCoAuthorsModal/InviteCoAuthorsModal.tsx
  src/components/_shared/InviteCoAuthorsModal/index.ts
  src/components/_shared/UserSearch/UserSearch.module.scss
  src/components/_shared/UserSearch/UserSearch.tsx
  src/components/_shared/UserSearch/index.ts
  src/stores/ui.ts
Due: prettier --write, sort-json

Invite co-authors
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Editor/Panel/Panel.tsx
  src/components/Views/Edit.tsx
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/components/_shared/InviteCoAuthorsModal/InviteCoAuthorsModal.tsx
  src/components/_shared/UserSearch/UserSearch.module.scss
  src/components/_shared/UserSearch/UserSearch.tsx
Due: prettier --write, sort-json

Fix styles
  src/components/Views/Feed/Feed.module.scss
  src/components/Views/Feed/Feed.tsx
  src/styles/app.scss
Due: prettier --write

Fix styles
  src/components/Views/Feed/Feed.module.scss
Due: prettier --write

Fix styles
  src/styles/app.scss
Due: prettier --write

followed-fix
  src/components/Article/FullArticle.tsx
  src/components/Inbox/CreateModalContent.tsx
  src/components/Views/Topic.tsx
  src/context/notifications.tsx
  src/graphql/client/core.ts
  src/graphql/query/core/articles-load-random-top.ts
  src/graphql/query/core/authors-followed-by.ts
  src/utils/capitalize.ts
Due: prettier --write

feed period select (#340)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Article/FullArticle.tsx
  src/components/AuthGuard/AuthGuard.tsx
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Discours/Hero.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/AuthModal/LoginForm.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/components/NotificationsPanel/NotificationView/NotificationView.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.module.scss
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Home.tsx
  src/components/Views/Inbox.tsx
  src/components/Views/Topic.tsx
  src/components/_shared/DropDown/DropDown.module.scss
  src/components/_shared/DropDown/DropDown.tsx
  src/components/_shared/DropDown/index.ts
  src/components/_shared/Popup/Popup.tsx
  src/context/localize.tsx
  src/pages/feed.page.tsx
  src/stores/router.ts
  src/stores/ui.ts
  src/styles/app.scss
Due: prettier --write, sort-json

add search loader & refactor results rendering
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Nav/SearchModal/SearchModal.module.scss
  src/components/Nav/SearchModal/SearchModal.tsx
  src/utils/config.ts
Due: prettier --write, sort-json

upgrade lightbox
  src/components/_shared/Lightbox/Lightbox.module.scss
  src/components/_shared/Lightbox/Lightbox.tsx
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
Due: prettier --write

wip
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Nav/AuthModal/ChangePasswordForm.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/utils/validatePassword.ts
Due: prettier --write, sort-json

resolve conversation
  src/components/_shared/DropdownSelect/DropdownSelect.tsx
  src/components/_shared/InviteCoAuthorsModal/InviteCoAuthorsModal.tsx
  src/components/_shared/UserSearch/UserSearch.tsx
Due: prettier --write

resolve conversation
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/_shared/UserSearch/UserSearch.tsx
Due: prettier --write, sort-json

Feature/invite co authors modal (#341)
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Editor/Panel/Panel.tsx
  src/components/Views/Edit.tsx
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/components/_shared/DropdownSelect/DropdownSelect.module.scss
  src/components/_shared/DropdownSelect/DropdownSelect.tsx
  src/components/_shared/DropdownSelect/index.ts
  src/components/_shared/InviteCoAuthorsModal/InviteCoAuthorsModal.tsx
  src/components/_shared/InviteCoAuthorsModal/index.ts
  src/components/_shared/UserSearch/UserSearch.module.scss
  src/components/_shared/UserSearch/UserSearch.tsx
  src/components/_shared/UserSearch/index.ts
  src/stores/ui.ts
Due: prettier --write, sort-json

notification-group-view
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Article/FullArticle.tsx
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Inbox/CreateModalContent.tsx
  src/components/Nav/SearchModal/SearchModal.tsx
  src/components/NotificationsPanel/NotificationView/NotificationGroup.tsx
  src/components/NotificationsPanel/NotificationView/NotificationView.tsx
  src/components/NotificationsPanel/NotificationView/index.ts
  src/components/NotificationsPanel/NotificationsPanel.tsx
  src/components/ProfileSettings/ProfileSettings.tsx
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Inbox.tsx
  src/components/Views/Search.tsx
  src/components/Views/Topic.tsx
  src/context/notifications.tsx
  src/context/profile.tsx
  src/context/reactions.tsx
  src/context/session.tsx
  src/pages/expo/expo.page.server.ts
  src/stores/zine/articles.ts
Due: prettier --write, sort-json
