Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, stylelint, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json",
  "*.{scss,css}": "stylelint",
  "*.{ts,tsx,js}": "eslint --fix",
}

self review fix
  src/components/Feed/Row5.tsx
  src/components/Nav/Topics.tsx
  src/stores/zine/topics.ts
Due: prettier --write, eslint --fix

some-fixes
  src/components/Feed/Card.tsx
  src/components/Providers/ServerRouterProvider.tsx
  src/components/Views/Home.tsx
  src/graphql/types.gen.ts
  src/stores/router.ts
Due: prettier --write, eslint --fix

comment restored
  src/components/Root.tsx
Due: prettier --write, eslint --fix

bump versions
  yarn.lock
Due: none

Search page with css modules
  src/components/Feed/Card.scss
  src/components/Feed/Card.tsx
  src/components/Feed/Sidebar.tsx
  src/components/Nav/Header.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Topics.scss
  src/components/Views/Search.tsx
  src/layouts/about.astro
  src/locales/ru.json
  src/pages/about/help.astro
  src/styles/Feed.scss
  src/styles/Search.module.scss
  src/styles/Search.scss
  src/styles/app.scss
Due: prettier --write, stylelint, eslint --fix

props mutation fix
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/stores/zine/topics.ts
Due: prettier --write, eslint --fix

remove not used graphql logix
  src/graphql/index.ts
Due: prettier --write, eslint --fix

about section moved to solid world
  src/components/Pages/about/DogmaPage.tsx
  src/components/Pages/about/GuidePage.tsx
  src/components/Pages/about/HelpPage.tsx
  src/components/Pages/about/ManifestPage.tsx
  src/components/Pages/about/PartnersPage.tsx
  src/components/Pages/about/ProjectsPage.tsx
  src/components/Pages/about/TermsOfUsePage.tsx
  src/components/Pages/about/ThanksPage.tsx
  src/components/Root.tsx
  src/layouts/about.astro
  src/layouts/zine.astro
  src/pages/404.astro
  src/pages/[...slug].astro
  src/pages/about/dogma.astro
  src/pages/about/guide.astro
  src/pages/about/help.astro
  src/pages/about/manifest.astro
  src/pages/about/partners.astro
  src/pages/about/projects.astro
  src/pages/about/terms-of-use.astro
  src/pages/about/thanks.astro
  src/pages/author/[slug]/index.astro
  src/pages/authors.astro
  src/pages/create.astro
  src/pages/feed/index.astro
  src/pages/feed/settings.astro.bak
  src/pages/inbox.astro.bak
  src/pages/index.astro
  src/pages/search.astro
  src/pages/topic/[slug].astro
  src/pages/topics.astro
  src/stores/router.ts
Due: prettier --write, eslint --fix

css modules dev class names
  astro.config.ts
  package.json
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

fix
  astro.config.ts
Due: prettier --write, eslint --fix

Fixed 404 page
  src/components/Layouts/MainLayout.tsx
  src/components/Nav/Header.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Topics.scss
  src/components/Pages/FourOuFourPage.tsx
  src/components/Views/FourOuFour.tsx
  src/styles/FourOuFour.module.scss
  src/styles/FourOuFour.scss
Due: prettier --write, stylelint, eslint --fix

no persistentAtom for locale
  package.json
  src/components/Author/Card.tsx
  src/components/Discours/Footer.tsx
  src/components/Feed/Card.tsx
  src/components/Nav/Header.tsx
  src/components/Nav/Topics.tsx
  src/components/Topic/Card.tsx
  src/components/Views/Connect.tsx
  src/components/Views/Home.tsx
  src/stores/ui.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

prosemirror-model-downgrade
  package.json
  src/components/Editor/prosemirror/extension/link.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

fix auth modal, lang picking
  src/components/Nav/AuthModal.tsx
  src/components/Root.tsx
  src/layouts/zine.astro
Due: prettier --write, eslint --fix

minor fixes
  astro.config.ts
  src/stores/zine/topAuthors.ts
Due: prettier --write, eslint --fix

ArticleCard undefined in props error
  src/components/Feed/Card.tsx
  src/stores/zine/articles.ts
Due: prettier --write, eslint --fix

vite-plugin-ssr WIP
  package.json
  src/components/Feed/Card.tsx
  src/components/Feed/Row5.tsx
  src/components/Pages/HomePage.tsx
  src/components/Root.tsx
  src/components/Views/Home.tsx
  src/pages/index.page.server.tsx
  src/pages/index.page.tsx
  src/renderer/_default.page.client.tsx
  src/renderer/_default.page.server.tsx
  src/renderer/types.ts
  src/stores/router.ts
  src/stores/zine/articles.ts
  src/stores/zine/topics.ts
  src/utils/apiClient.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

stores fix
  .eslintrc.js
  src/components/Feed/Card.tsx
  src/components/Feed/Sidebar.tsx
  src/components/Pages/ArticlePage.tsx
  src/components/Root.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Author.tsx
  src/components/Views/Feed.tsx
  src/components/Views/Home.tsx
  src/components/Views/Search.tsx
  src/components/Views/Topic.tsx
  src/locales/ru.json
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/stores/zine/topAuthors.ts
  src/stores/zine/topics.ts
Due: prettier --write, eslint --fix

Module css in the header component
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
  src/styles/FourOuFour.module.scss
Due: prettier --write, stylelint, eslint --fix

Header fixes
  astro.config.ts
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
Due: prettier --write, stylelint, eslint --fix

header search icon styles fixed
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Icon.tsx
Due: prettier --write, stylelint, eslint --fix

footer style fix
  src/components/Layouts/MainLayout.tsx
  src/components/Pages/FourOuFourPage.tsx
  src/styles/FourOuFour.module.scss
Due: prettier --write, stylelint, eslint --fix

quick header fix
  src/components/Layouts/MainLayout.tsx
  src/styles/FourOuFour.module.scss
Due: prettier --write, stylelint, eslint --fix

lint fixes
  src/components/Nav/Topics.tsx
  src/components/Root.tsx
  src/components/Views/FourOuFour.tsx
  src/stores/zine/authors.ts
  src/stores/zine/reactions.ts
Due: prettier --write, eslint --fix

main page load more layout
  src/components/Feed/Beside.tsx
  src/components/Views/Home.tsx
  src/stores/router.ts
  src/styles/app.scss
  src/utils/scroll.ts
Due: prettier --write, stylelint, eslint --fix

topics page fix
  package.json
  src/components/Views/AllTopics.tsx
  src/graphql/types.gen.ts
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/stores/zine/topics.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

In the Icon component changed props.className to props.class
  src/components/Nav/Icon.tsx
Due: prettier --write, eslint --fix

minor fixes
  src/components/Nav/Icon.tsx
  src/stores/zine/articles.ts
Due: prettier --write, eslint --fix

Fixed header class on scroll
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
Due: prettier --write, stylelint, eslint --fix

Removed logging
  src/components/Nav/Header.tsx
Due: prettier --write, eslint --fix

some fixes
  src/components/Editor/prosemirror/context.ts
  src/components/Editor/store/ctrl.ts
  src/components/Views/Article.tsx
  src/components/Views/Home.tsx
  src/graphql/query/authors-all.ts
  src/stores/zine/reactions.ts
  src/utils/p2p.ts
Due: prettier --write, eslint --fix

bump
  package.json
  src/components/Editor/prosemirror/context.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

topics hover fix
  src/components/Nav/Topics.scss
Due: prettier --write, stylelint

auth fix
  src/components/Article/FullArticle.tsx
  src/components/Author/Card.tsx
  src/components/Feed/Sidebar.tsx
  src/components/Nav/AuthModal.tsx
  src/components/Nav/Header.tsx
  src/components/Nav/Private.tsx
  src/components/Nav/ProfileModal.tsx
  src/components/Topic/Card.tsx
  src/components/Topic/Full.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Feed.tsx
  src/locales/ru.json
  src/stores/auth.ts
  src/stores/zine/articles.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

editor-context-fix
  package.json
  src/components/Editor/prosemirror/context.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

Fixed header
  public/icons/comments-outline.svg
  public/icons/pencil-outline.svg
  public/icons/share-outline.svg
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Private.module.scss
  src/components/Nav/Private.scss
  src/components/Nav/Private.tsx
  src/styles/FourOuFour.module.scss
  src/styles/app.scss
Due: prettier --write, stylelint, eslint --fix

Fixed header
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
Due: prettier --write, stylelint, eslint --fix

all authors request fix
  src/graphql/query/authors-all.ts
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix
