Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, sort-json

maintopic-fix
  src/components/Article/Article.module.scss
  src/components/Article/Comment/Comment.tsx
  src/components/Article/FullArticle.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/graphql/query/core/article-load.ts
  src/graphql/query/core/articles-load-by.ts
  src/graphql/query/core/articles-load-drafts.ts
  src/graphql/query/core/articles-load-feed.ts
  src/graphql/query/core/articles-load-followed.ts
  src/graphql/query/core/articles-load-search.ts
Due: prettier --write

resolvers-updates
  src/components/Article/Comment/Comment.tsx
  src/components/Topic/Card.tsx
  src/components/Topic/TopicBadge/TopicBadge.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Feed.tsx
  src/graphql/client/core.ts
  src/graphql/query/core/authors-all.ts
  src/pages/allAuthors.page.server.ts
Due: prettier --write

minor fixes
  src/components/App.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/context/authorizer.tsx
  src/context/session.tsx
  src/graphql/query/core/my-followed.ts
  src/pages/article.page.tsx
Due: prettier --write

Add meta for topic and author
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Views/Author/Author.tsx
  src/components/Views/Topic.tsx
  src/pages/author.page.tsx
  src/pages/topic.page.tsx
Due: prettier --write, sort-json

add article description
  src/components/Article/FullArticle.tsx
Due: prettier --write

Static pages
  public/locales/en/translation.json
  public/locales/ru/translation.json
  public/logo_image.png
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Topic.tsx
  src/pages/about/discussionRules.page.tsx
  src/pages/about/dogma.page.tsx
  src/pages/about/guide.page.tsx
  src/pages/about/help.page.tsx
  src/pages/about/manifest.page.tsx
  src/pages/about/partners.page.tsx
  src/pages/about/principles.page.tsx
  src/pages/about/thanks.page.tsx
  src/pages/create.page.tsx
Due: prettier --write, sort-json

Cleanup Code
  src/components/Views/AllTopics.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/Topic.tsx
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
  src/context/profile.tsx
  src/pages/author.page.tsx
  src/utils/meta.ts
Due: prettier --write

terms of use keywords
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/pages/about/termsOfUse.page.tsx
Due: prettier --write, sort-json

Remove layoutChildren
  src/components/Views/StaticPage.tsx
  src/pages/about/discussionRules.page.tsx
  src/pages/about/dogma.page.tsx
  src/pages/about/guide.page.tsx
  src/pages/about/help.page.tsx
  src/pages/about/manifest.page.tsx
  src/pages/about/partners.page.tsx
  src/pages/about/principles.page.tsx
  src/pages/about/termsOfUse.page.tsx
  src/pages/about/thanks.page.tsx
Due: prettier --write

Fix og:images
  public/logo_image.png
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Topic.tsx
  src/pages/about/discussionRules.page.tsx
  src/pages/about/dogma.page.tsx
  src/pages/about/guide.page.tsx
  src/pages/about/help.page.tsx
  src/pages/about/manifest.page.tsx
  src/pages/about/partners.page.tsx
  src/pages/about/principles.page.tsx
  src/pages/about/termsOfUse.page.tsx
  src/pages/about/thanks.page.tsx
  src/pages/create.page.tsx
Due: prettier --write

Fix i18n
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Discours/Footer.tsx
  src/pages/about/help.page.tsx
Due: prettier --write, sort-json

Fix i18n
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Discours/Footer.tsx
  src/components/ProfileSettings/ProfileSettings.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/ProfileSubscriptions/ProfileSubscriptions.tsx
  src/pages/about/discussionRules.page.tsx
  src/pages/about/dogma.page.tsx
  src/pages/about/guide.page.tsx
  src/pages/about/help.page.tsx
  src/pages/about/partners.page.tsx
  src/pages/about/principles.page.tsx
  src/pages/about/termsOfUse.page.tsx
  src/pages/about/thanks.page.tsx
  src/pages/create.page.tsx
Due: prettier --write, sort-json

Fix errors & warnings
  src/components/Feed/Sidebar/Sidebar.module.scss
  src/components/Nav/ConfirmModal/ConfirmModal.module.scss
  src/components/Views/AllAuthors.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
Due: prettier --write

Fix errors & warnings
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Article/FullArticle.tsx
  src/components/Discours/Footer.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/StaticPage.tsx
  src/pages/about/discussionRules.page.tsx
  src/pages/about/dogma.page.tsx
  src/pages/about/guide.page.tsx
  src/pages/about/help.page.tsx
  src/pages/about/manifest.page.tsx
  src/pages/about/principles.page.tsx
  src/pages/about/termsOfUse.page.tsx
  src/pages/about/thanks.page.tsx
  src/utils/meta.ts
Due: prettier --write, sort-json

test topic page og
  src/pages/topic.page.tsx
Due: prettier --write

Fix metategs on all topics and authors
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Topic.tsx
  src/pages/allAuthors.page.tsx
  src/pages/allTopics.page.tsx
  src/pages/topic.page.tsx
Due: prettier --write

test
  src/components/Views/AllAuthors.tsx
Due: prettier --write

revert test
  src/components/Views/AllAuthors.tsx
Due: prettier --write

fix typo
  src/components/Article/FullArticle.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/Topic.tsx
  src/pages/about/discussionRules.page.tsx
  src/pages/about/dogma.page.tsx
  src/pages/about/guide.page.tsx
  src/pages/about/help.page.tsx
  src/pages/about/manifest.page.tsx
  src/pages/about/partners.page.tsx
  src/pages/about/principles.page.tsx
  src/pages/about/termsOfUse.page.tsx
  src/pages/about/thanks.page.tsx
  src/pages/create.page.tsx
Due: prettier --write

fix
  src/components/Views/Author/Author.tsx
Due: prettier --write

update translate
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/Topic.tsx
  src/pages/allTopics.page.tsx
  src/pages/topic.page.tsx
Due: prettier --write, sort-json

update translate
  public/locales/en/translation.json
  public/locales/ru/translation.json
Due: prettier --write, sort-json

add capitalize flag
  src/components/Topic/Card.tsx
  src/components/Views/Topic.tsx
  src/pages/topic.page.tsx
Due: prettier --write

Feed metateags
  src/components/Views/Feed.tsx
Due: prettier --write

Feature/og meta tags (#329)
  package-lock.json
  package.json
  public/locales/en/translation.json
  public/locales/ru/translation.json
  public/robots.txt
  src/components/Article/FullArticle.tsx
  src/components/Discours/Footer.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Feed/Sidebar/Sidebar.module.scss
  src/components/Nav/ConfirmModal/ConfirmModal.module.scss
  src/components/ProfileSettings/ProfileSettings.tsx
  src/components/Topic/Card.tsx
  src/components/Views/AllAuthors.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Author/Author.tsx
  src/components/Views/Feed.tsx
  src/components/Views/ProfileSubscriptions/ProfileSubscriptions.tsx
  src/components/Views/StaticPage.tsx
  src/components/Views/Topic.tsx
  src/components/_shared/SolidSwiper/ImageSwiper.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
  src/context/profile.tsx
  src/pages/about/discussionRules.page.tsx
  src/pages/about/dogma.page.tsx
  src/pages/about/guide.page.tsx
  src/pages/about/help.page.tsx
  src/pages/about/manifest.page.tsx
  src/pages/about/partners.page.tsx
  src/pages/about/principles.page.tsx
  src/pages/about/termsOfUse.page.tsx
  src/pages/about/thanks.page.tsx
  src/pages/allAuthors.page.tsx
  src/pages/allTopics.page.tsx
  src/pages/author.page.tsx
  src/pages/create.page.tsx
  src/pages/topic.page.tsx
  src/utils/meta.ts
Due: prettier --write, sort-package-json, sort-json

Feed metateags
  src/components/Article/Comment/Comment.module.scss
Due: prettier --write

Feed metateags (#330)
  src/components/Article/Comment/Comment.module.scss
Due: prettier --write

WIP
  src/components/Views/Expo/Expo.tsx
  src/graphql/query/articles-load-random-top.ts
  src/graphql/types.gen.ts
  src/pages/expo/expo.page.tsx
  src/stores/zine/articles.ts
  src/utils/apiClient.ts
  src/utils/getServerDate.ts
Due: prettier --write

done
  src/components/App.tsx
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Search.tsx
  src/pages/expo/expo.page.route.ts
  src/pages/expo/expo.page.server.ts
  src/pages/expo/expoLayout.page.route.ts
  src/pages/expo/expoLayout.page.server.ts
  src/pages/search.page.server.ts
  src/pages/search.page.tsx
  src/stores/router.ts
Due: prettier --write

Expo random top articles (#331)
  src/components/App.tsx
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Search.tsx
  src/graphql/query/articles-load-random-top.ts
  src/graphql/types.gen.ts
  src/pages/expo/expo.page.route.ts
  src/pages/expo/expo.page.server.ts
  src/pages/expo/expo.page.tsx
  src/pages/expo/expoLayout.page.route.ts
  src/pages/expo/expoLayout.page.server.ts
  src/pages/search.page.server.ts
  src/pages/search.page.tsx
  src/stores/router.ts
  src/stores/zine/articles.ts
  src/utils/apiClient.ts
  src/utils/getServerDate.ts
Due: prettier --write

prefixed-queries
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Nav/AuthModal/ResetPasswordForm.tsx
  src/components/Nav/HeaderAuth.tsx
  src/components/Nav/ProfilePopup.tsx
  src/components/ProfileSettings/ProfileSettings.tsx
  src/context/connect.tsx
  src/context/notifications.tsx
  src/context/session.tsx
  src/graphql/client/core.ts
  src/graphql/query/core/author-by.ts
  src/graphql/query/core/author-id.ts
  src/graphql/query/core/query.json
  src/graphql/query/notifier/notifications-load.ts
Due: prettier --write

rooting authorizer
  src/components/App.tsx
  src/components/Article/FullArticle.tsx
  src/components/Author/AuthorBadge/AuthorBadge.tsx
  src/components/Author/AuthorCard/AuthorCard.tsx
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Nav/AuthModal/EmailConfirm.tsx
  src/components/ProfileSettings/ProfileSettings.tsx
  src/components/Topic/Card.tsx
  src/components/Topic/TopicBadge/TopicBadge.tsx
  src/components/Views/AllTopics.tsx
  src/components/Views/Edit.tsx
  src/components/Views/Feed.tsx
  src/components/Views/ProfileSubscriptions/ProfileSubscriptions.tsx
  src/components/Views/PublishSettings/PublishSettings.tsx
  src/context/authorizer.tsx
  src/context/connect.tsx
  src/context/editor.tsx
  src/context/inbox.tsx
  src/context/notifications.tsx
  src/context/profile.tsx
  src/context/reactions.tsx
  src/context/session.tsx
  src/graphql/client/chat.ts
  src/graphql/client/core.ts
  src/graphql/client/notifier.ts
  src/graphql/createGraphQLClient.ts
  src/pages/article.page.tsx
  src/stores/token.ts
  src/utils/apiClient.ts
Due: prettier --write

Rate first markup
  public/locales/en/translation.json
  public/locales/ru/translation.json
  src/components/Feed/ArticleCard/ArticleCard.tsx
  src/components/Views/Feed/Feed.module.scss
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Feed/index.ts
  src/pages/feed.page.tsx
Due: prettier --write, sort-json

session-context-wip
  src/components/App.tsx
  src/components/Nav/AuthModal/EmailConfirm.tsx
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
  src/components/Nav/AuthModal/LoginForm.tsx
  src/components/Nav/AuthModal/RegisterForm.tsx
  src/components/ProfileSettings/ProfileSettings.tsx
  src/context/authorizer.tsx
  src/context/connect.tsx
  src/context/editor.tsx
  src/context/session.tsx
Due: prettier --write

session-debug
  src/context/session.tsx
Due: prettier --write

WIP
  src/pages/expo/expo.page.tsx
  src/stores/zine/articles.ts
Due: prettier --write

lint
  src/components/Views/Expo/Expo.tsx
  src/components/Views/Feed/Feed.tsx
  src/components/Views/Search.tsx
  src/components/_shared/SolidSwiper/Swiper.module.scss
  src/pages/author.page.tsx
  src/pages/topic.page.tsx
  src/stores/zine/articles.ts
  src/utils/apiClient.ts
Due: prettier --write

session-debug-2
  src/context/session.tsx
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,scss,css,html}
  sort-package-json: any of: package.json
  sort-json: any of: public/locales/**/*.json
