Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json"
}

Feed page fixes
  public/icons/bookmark-x.svg
  public/icons/bookmark.svg
  public/icons/comment.svg
  public/icons/feed-all.svg
  public/icons/feed-collaborate.svg
  public/icons/feed-discussion.svg
  public/icons/feed-drafts.svg
  public/icons/feed-my.svg
  public/icons/feed-notifications.svg
  public/icons/pencil-outline.svg
  public/icons/pin.svg
  src/components/Feed/Card.module.scss
  src/components/Feed/Card.tsx
  src/components/Feed/Sidebar.module.scss
  src/components/Feed/Sidebar.tsx
  src/components/Views/Feed.module.scss
  src/components/Views/Feed.tsx
  src/components/_shared/Popup/Popup.module.scss
  src/locales/ru.json
  src/styles/Feed.scss
Due: prettier --write

fixd
  api/upload.py
  package.json
  pnpm-lock.yaml
  src/components/Pages/profile/ProfileSettingsPage.tsx
  src/pages/[...slug].astro
Due: prettier --write, sort-package-json

Undo Redo
  src/components/Article/CommentsTree.tsx
  src/components/Article/FullArticle.tsx
  src/components/_shared/CommentEditor/CommentEditor.tsx
  src/components/_shared/CommentEditor/menu/index.ts
  src/components/_shared/CommentEditor/styles/CommentEditor.module.scss
Due: prettier --write

Prosemirror integrate (#86)
  src/components/Article/Comment.module.scss
  src/components/Article/Comment.tsx
  src/components/Article/CommentsTree.tsx
  src/components/Article/FullArticle.tsx
  src/components/Inbox/CreateModalContent.tsx
  src/components/Inbox/DialogCard.tsx
  src/components/Views/Inbox.tsx
  src/components/_shared/CommentEditor/CommentEditor.tsx
  src/components/_shared/CommentEditor/index.ts
  src/components/_shared/CommentEditor/menu/index.ts
  src/components/_shared/CommentEditor/plugins/placeholder.ts
  src/components/_shared/CommentEditor/schema.ts
  src/components/_shared/CommentEditor/styles/CommentEditor.module.scss
  src/components/_shared/CommentEditor/styles/ProseMirrorOverrides.scss
  src/components/_shared/GrowingTextarea/index.ts
  src/context/inbox.tsx
  src/graphql/mutation/create-chat.ts
  src/graphql/query/chat-recipients.ts
  src/graphql/types.gen.ts
  src/locales/ru.json
  src/stores/zine/reactions.ts
  src/utils/apiClient.ts
Due: prettier --write

linter & after merge fix
  src/components/Inbox/DialogHeader.tsx
  src/components/_shared/GrowingTextarea/GrowingTextarea.module.scss
  src/components/_shared/GrowingTextarea/GrowingTextarea.tsx
  src/locales/ru.json
Due: prettier --write

[hotfix] default state i18n
  src/components/Views/Author.tsx
  src/locales/ru.json
Due: prettier --write

init share
  package.json
  src/components/Article/SharePopup.tsx
  yarn.lock
Due: prettier --write, sort-package-json

Comments block on the feed page
  src/components/Author/Card.module.scss
  src/components/Author/Card.tsx
  src/components/Views/Feed.module.scss
  src/components/Views/Feed.tsx
Due: prettier --write

Fixed props type
  src/components/Views/Feed.tsx
Due: prettier --write

check-req
  api/upload.py
  src/components/Pages/profile/ProfileSettingsPage.tsx
  vercel.json
Due: prettier --write

fkc
  api/upload.py
  src/components/Pages/profile/ProfileSettingsPage.tsx
Due: prettier --write

captl
  api/upload.py
  src/components/Pages/profile/ProfileSettingsPage.tsx
Due: prettier --write

Init og:meta
  package.json
  src/components/Article/FullArticle.tsx
  src/components/Article/SharePopup.tsx
  src/main.astro
  src/pages/[...slug].astro
  yarn.lock
Due: prettier --write, sort-package-json

[WiP] Get description
  src/components/Article/FullArticle.tsx
  src/components/Article/SharePopup.tsx
  src/main.astro
  src/pages/[...slug].astro
  src/utils/meta.ts
Due: prettier --write

slug.includes('.')
  src/pages/[...slug].astro
Due: none

linter error fix
  src/pages/[...slug].astro
  src/utils/meta.ts
Due: prettier --write

og:meta for none article page
  src/main.astro
  src/pages/[...slug].astro
Due: none

add twitter og:meta
  src/main.astro
Due: none

copy link added
  src/components/Article/SharePopup.tsx
Due: prettier --write

add sharing
  src/components/Article/Comment.tsx
  src/components/Article/SharePopup.tsx
  src/components/Feed/Card.tsx
  src/components/Feed/Sidebar.tsx
  src/components/Inbox/Message.tsx
  src/components/Nav/Header.tsx
  src/components/Pages/ArticlePage.tsx
  src/components/_shared/PageWrap.tsx
  src/utils/meta.ts
Due: prettier --write

Social share (#88)
  package.json
  src/components/Article/Comment.tsx
  src/components/Article/FullArticle.tsx
  src/components/Article/SharePopup.tsx
  src/components/Feed/Card.tsx
  src/components/Feed/Sidebar.tsx
  src/components/Inbox/Message.tsx
  src/components/Nav/Header.tsx
  src/components/Pages/ArticlePage.tsx
  src/components/_shared/PageWrap.tsx
  src/main.astro
  src/pages/[...slug].astro
  src/utils/meta.ts
  yarn.lock
Due: prettier --write, sort-package-json

hotfix sharing
  src/components/Article/FullArticle.tsx
Due: prettier --write

chngs
  CHANGELOG.txt
  package.json
Due: prettier --write, sort-package-json

feedback-newsletter-bump-wip
  api/feedback.js
  api/newsletter.ts
  package.json
  pnpm-lock.yaml
  src/components/Discours/Subscribe.tsx
  src/components/Pages/about/TermsOfUsePage.tsx
  src/graphql/privateGraphQLClient.ts
  vercel.json
Due: prettier --write, sort-package-json

Feed styles fixes
  src/components/Feed/Sidebar.module.scss
  src/components/Feed/Sidebar.tsx
  src/components/Nav/Header.module.scss
  src/components/Views/Feed.module.scss
  src/components/Views/Feed.tsx
  src/styles/Feed.scss
  src/styles/app.scss
Due: prettier --write

get file data
  src/components/Pages/profile/ProfileSettingsPage.tsx
Due: prettier --write

test upload
  src/components/Pages/profile/ProfileSettingsPage.tsx
Due: prettier --write

yarn lock
  yarn.lock
Due: none

[debug upload]
  api/upload.py
  src/components/Pages/profile/ProfileSettingsPage.tsx
  yarn.lock
Due: prettier --write

resolve conversation
  src/components/Article/FullArticle.tsx
  src/components/Article/SharePopup.tsx
  src/components/Feed/Card.tsx
  src/components/Nav/Header.tsx
  src/utils/meta.ts
Due: prettier --write

fix-inbox-ws
  src/components/Views/Inbox.tsx
  src/context/inbox.tsx
Due: prettier --write

pkgs-cleanup
  CHANGELOG.txt
  package.json
  pnpm-lock.yaml
Due: prettier --write, sort-package-json

newsletter-api-works
  api/feedback.js
  api/newsletter.js
  api/upload.py
  vercel.json
Due: prettier --write

[CommentEditor] added Login message
  src/components/_shared/CommentEditor/CommentEditor.tsx
  src/components/_shared/CommentEditor/styles/CommentEditor.module.scss
Due: prettier --write

Feed article actions popup
  src/components/Feed/Card.module.scss
  src/components/Feed/Card.tsx
  src/components/Feed/FeedArticlePopup.module.scss
  src/components/Feed/FeedArticlePopup.tsx
  src/components/_shared/Popup/Popup.tsx
Due: prettier --write

Editable comments
  src/components/Article/Comment.module.scss
  src/components/Article/Comment.tsx
  src/components/Article/CommentsTree.tsx
  src/components/_shared/Button/Button.module.scss
  src/components/_shared/Button/Button.tsx
  src/components/_shared/CommentEditor/CommentEditor.tsx
  src/graphql/mutation/reaction-destroy.ts
  src/graphql/mutation/reaction-update.ts
  src/graphql/types.gen.ts
  src/locales/ru.json
  src/stores/zine/reactions.ts
  src/utils/apiClient.ts
Due: prettier --write

code review
  src/components/Article/Comment.module.scss
  src/components/Feed/Card.tsx
  src/components/Feed/FeedArticlePopup.tsx
  src/components/_shared/Button/Button.module.scss
  src/locales/ru.json
Due: prettier --write
