Repository Discours/discoursio-webapp: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, sort-package-json, stylelint, eslint --fix

.lintstagedrc:

{
  "*.{js,ts,tsx,json,scss,css,html}": "prettier --write",
  "package.json": "sort-package-json",
  "*.{scss,css}": "stylelint",
  "*.{ts,tsx,js}": "eslint --fix",
}

conflicts resolved for PR
  public/icons/edit.svg
  public/icons/user-link-default.svg
  src/components/Author/Card.module.scss
  src/components/Author/Card.tsx
  src/components/Discours/Footer.module.scss
  src/components/Discours/Footer.tsx
  src/components/Discours/Subscribe.module.scss
  src/components/Discours/Subscribe.tsx
  src/components/Pages/about/ManifestPage.tsx
  src/components/Views/AllAuthors.tsx
  src/locales/ru.json
  src/styles/app.scss
  src/utils/apiClient.ts
Due: prettier --write, stylelint, eslint --fix

Main page blocks margins fixes
  src/components/Author/Card.module.scss
  src/components/Discours/Hero.scss
  src/components/Feed/Beside.module.scss
  src/components/Feed/Card.module.scss
  src/styles/app.scss
Due: prettier --write, stylelint

Fixed page style when auth modal opened
  src/components/Nav/Header.tsx
Due: prettier --write, eslint --fix

Fixed editor layout
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/Layout.tsx
  src/components/Editor/styles/Editor.scss
Due: prettier --write, stylelint, eslint --fix

fixs
  src/components/Editor/prosemirror/setup.ts
  src/components/Editor/store/actions.ts
  src/components/Editor/store/context.ts
Due: prettier --write, eslint --fix

refactored and linted
  src/components/Editor/components/Error.tsx
  src/components/Editor/components/Sidebar.tsx
  src/components/Editor/prosemirror/extension/base.ts
  src/components/Editor/prosemirror/extension/code.ts
  src/components/Editor/prosemirror/extension/collab.ts
  src/components/Editor/prosemirror/extension/drag-handle.ts
  src/components/Editor/prosemirror/extension/image.ts
  src/components/Editor/prosemirror/extension/link.ts
  src/components/Editor/prosemirror/extension/mark-input-rule.ts
  src/components/Editor/prosemirror/extension/markdown.ts
  src/components/Editor/prosemirror/extension/menu.ts
  src/components/Editor/prosemirror/extension/paste-markdown.ts
  src/components/Editor/prosemirror/extension/prompt.ts
  src/components/Editor/prosemirror/extension/scroll.ts
  src/components/Editor/prosemirror/extension/selection.ts
  src/components/Editor/prosemirror/extension/strikethrough.ts
  src/components/Editor/prosemirror/extension/table.ts
  src/components/Editor/prosemirror/extension/todo-list.ts
  src/components/Editor/prosemirror/setup.ts
  src/components/Editor/store/actions.ts
  src/components/Editor/store/context.ts
  src/components/Editor/styles/Sidebar.scss
Due: prettier --write, stylelint, eslint --fix

postmerge
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/Layout.tsx
  src/components/Editor/components/ProseMirror.tsx
  src/components/Editor/markdown.ts
  src/components/Editor/prosemirror/helpers.ts
  src/components/Editor/remote.ts
  src/components/Editor/store/context.ts
  src/graphql/publicGraphQLClient.ts
Due: prettier --write, eslint --fix

styleslint defaultSeverity set to warning
  .stylelintrc
Due: none

7f fix
  src/components/Editor/styles/Sidebar.scss
Due: prettier --write, stylelint

fixmerge
  src/components/Author/Card.module.scss
Due: prettier --write, stylelint

Rewrite banner component to css module
  src/components/Discours/Banner.module.scss
  src/components/Discours/Banner.tsx
Due: prettier --write, stylelint, eslint --fix

fixmerge
  src/stores/auth.ts
Due: prettier --write, eslint --fix

fixlog
  src/utils/apiClient.ts
Due: prettier --write, eslint --fix

versions-bump
  package.json
  yarn.lock
Due: prettier --write, sort-package-json

fix-import
  src/components/Editor/store/actions.ts
Due: prettier --write, eslint --fix

fix-upload-func
  package.json
  src/pages/api/upload.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

fix-aws-crt
  package.json
  src/pages/api/upload.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

editor types, checkbox fix, baseurl fix
  src/components/Editor/prosemirror/extension/base.ts
  src/components/Editor/prosemirror/extension/paste-markdown.ts
  src/components/Editor/prosemirror/extension/prompt.ts
  src/components/Editor/prosemirror/extension/strikethrough.ts
  src/components/Editor/prosemirror/extension/table.ts
  src/components/Editor/prosemirror/extension/todo-list.ts
  src/components/Editor/prosemirror/helpers.ts
  src/components/Editor/store/actions.ts
  src/components/Editor/store/context.ts
  src/styles/app.scss
  src/utils/config.ts
Due: prettier --write, stylelint, eslint --fix

oauth-confirm moved
  src/components/Nav/AuthModal/ConfirmEmail.module.scss
  src/components/Nav/AuthModal/ConfirmEmail.tsx
  src/components/Nav/AuthModal/ConfirmOAuth.tsx
  src/components/Nav/AuthModal/index.tsx
  src/components/Nav/AuthModal/types.ts
  src/components/Nav/Confirmed.scss
  src/components/Nav/Confirmed.tsx
  src/components/Nav/Popup.tsx
  src/graphql/types.gen.ts
  src/locales/ru.json
  src/pages/confirm/[token].astro
  src/pages/confirm/index.astro
  src/utils/config.ts
Due: prettier --write, stylelint, eslint --fix

gql-todos
  src/graphql/mutation/article-create.ts
  src/graphql/mutation/article-destroy.ts
  src/graphql/mutation/article-update.ts
  src/graphql/mutation/reaction-create.ts
  src/graphql/mutation/reaction-destroy.ts
  src/graphql/mutation/reaction-update.ts
Due: prettier --write, eslint --fix

fix-baseurl
  src/utils/config.ts
Due: prettier --write, eslint --fix

fix-aws
  package.json
  src/pages/api/upload.ts
  yarn.lock
Due: prettier --write, sort-package-json, eslint --fix

chunks-off
  astro.config.ts
Due: prettier --write, eslint --fix

forgot-fix
  src/components/Nav/AuthModal/ForgotPasswordForm.tsx
Due: prettier --write, eslint --fix

common Popup component & SharePopup
  src/components/Article/FullArticle.tsx
  src/components/Article/SharePopup.tsx
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Popup.module.scss
  src/components/Nav/Popup.tsx
  src/stores/ui.ts
Due: prettier --write, stylelint, eslint --fix

prettier
  src/components/Discours/Banner.tsx
  src/components/Discours/Footer.tsx
  src/components/Feed/Row1.tsx
  src/components/Nav/Header.module.scss
  src/components/Nav/Popup.module.scss
  src/components/Pages/about/ManifestPage.tsx
Due: prettier --write, stylelint, eslint --fix

prettier on on precommit enabled
  .lintstagedrc
  .lintstagedrc.bak
  package.json
Due: prettier --write, sort-package-json

Fixed header controls
  src/components/Author/Userpic.tsx
  src/components/Nav/Private.module.scss
  src/components/Nav/Private.tsx
Due: prettier --write, stylelint, eslint --fix

Fixed mobile burger
  src/components/Nav/Header.tsx
Due: prettier --write, eslint --fix

Fixed feed
  src/components/Feed/Card.module.scss
  src/components/Feed/Card.tsx
  src/components/Feed/Sidebar.tsx
  src/components/Views/Feed.tsx
  src/styles/Feed.scss
Due: prettier --write, stylelint, eslint --fix

Profile popup
  src/components/Nav/Popup.module.scss
  src/components/Nav/Private.module.scss
  src/components/Nav/Private.tsx
  src/components/Nav/ProfilePopup.tsx
Due: prettier --write, stylelint, eslint --fix

refactoring, horizonalAnchor prop added to Popup
  src/components/Nav/Header.module.scss
  src/components/Nav/Header.tsx
  src/components/Nav/Popup.module.scss
  src/components/Nav/Popup.tsx
  src/components/Nav/Private.module.scss
  src/components/Nav/Private.tsx
  src/components/Nav/ProfilePopup.tsx
  src/locales/ru.json
Due: prettier --write, stylelint, eslint --fix

build fix
  src/components/Nav/Header.module.scss
Due: prettier --write, stylelint

load more (Feed, Author, Topic, Home update)
  src/components/Author/Full.tsx
  src/components/Feed/Beside.tsx
  src/components/Feed/List.tsx
  src/components/Feed/Row1.tsx
  src/components/Feed/Row2.tsx
  src/components/Feed/Row3.tsx
  src/components/Pages/AuthorPage.tsx
  src/components/Pages/FeedPage.tsx
  src/components/Pages/HomePage.tsx
  src/components/Pages/TopicPage.tsx
  src/components/Views/Author.tsx
  src/components/Views/Feed.tsx
  src/components/Views/Home.tsx
  src/components/Views/Topic.tsx
  src/components/types.ts
  src/pages/author/[slug]/index.astro
  src/pages/feed/index.astro
  src/pages/index.astro
  src/pages/topic/[slug].astro
  src/stores/zine/articles.ts
  src/stores/zine/authors.ts
  src/utils/apiClient.ts
  src/utils/splitToPages.ts
Due: prettier --write, eslint --fix

Revert "oauth-confirm moved"
  src/components/Nav/AuthModal/ConfirmOAuth.tsx
  src/components/Nav/AuthModal/EmailConfirm.module.scss
  src/components/Nav/AuthModal/EmailConfirm.tsx
  src/components/Nav/AuthModal/index.tsx
  src/components/Nav/AuthModal/types.ts
  src/components/Nav/Confirmed.scss
  src/components/Nav/Confirmed.tsx
  src/components/Nav/Popup.tsx
  src/graphql/types.gen.ts
  src/locales/ru.json
  src/pages/confirm/[token].astro
  src/pages/confirm/index.astro
  src/utils/config.ts
Due: prettier --write, stylelint, eslint --fix

logger restored
  package.json
  src/utils/logger.ts
Due: prettier --write, sort-package-json, eslint --fix

prettier
  src/components/Discours/Banner.tsx
  src/components/Discours/Footer.tsx
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/Error.tsx
  src/components/Editor/components/Layout.tsx
  src/components/Editor/components/ProseMirror.tsx
  src/components/Editor/components/Sidebar.tsx
  src/components/Editor/markdown.ts
  src/components/Editor/prosemirror/extension/base.ts
  src/components/Editor/prosemirror/extension/code.ts
  src/components/Editor/prosemirror/extension/collab.ts
  src/components/Editor/prosemirror/extension/menu.ts
  src/components/Editor/prosemirror/extension/selection.ts
  src/components/Editor/prosemirror/extension/table.ts
  src/components/Editor/prosemirror/extension/todo-list.ts
  src/components/Editor/prosemirror/helpers.ts
  src/components/Editor/prosemirror/p2p.ts
  src/components/Editor/store/actions.ts
  src/components/Editor/store/context.ts
  src/components/Editor/styles/Layout.scss
  src/components/Editor/styles/Sidebar.scss
  src/components/Feed/Row1.tsx
  src/components/Nav/AuthModal/AuthModal.module.scss
  src/components/Nav/Header.tsx
  src/components/Pages/about/ManifestPage.tsx
  src/components/Root.tsx
  src/graphql/mutation/article-create.ts
  src/graphql/mutation/article-destroy.ts
  src/graphql/mutation/reaction-destroy.ts
  src/styles/app.scss
Due: prettier --write, stylelint, eslint --fix

fixes
  src/components/Editor/components/Editor.module.scss
  src/components/Editor/components/Editor.tsx
  src/components/Editor/components/ProseMirror.tsx
  src/components/Editor/components/Sidebar.tsx
  src/components/Editor/styles/ArticlesList.scss
  src/components/Editor/styles/Button.scss
  src/components/Editor/styles/Error.scss
  src/components/Editor/styles/Layout.scss
  src/stores/auth.ts
Due: prettier --write, stylelint, eslint --fix
